n8n/workflows/PipelineConstruction.json
{
  "name": "Pipeline Construction",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-neo4j:7011/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.NEO4J_MCP_AUTH_HEADER }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\":\"2.0\",\"method\":\"initialize\",\"params\":{\"protocolVersion\":\"2024-11-05\",\"capabilities\":{},\"clientInfo\":{\"name\":\"n8n-pipeline\",\"version\":\"0.1.0\"}},\"id\":1}",
        "options": {}
      },
      "id": "neo4j-init",
      "name": "Neo4j MCP Init",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-neo4j:7011/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.NEO4J_MCP_AUTH_HEADER }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\":\"2.0\",\"method\":\"tools/call\",\"params\":{\"name\":\"write-cypher\",\"arguments\":{\"query\":\"MATCH (n) DETACH DELETE n\"}},\"id\":2}",
        "options": {}
      },
      "id": "delete-all",
      "name": "Delete All Nodes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\nconst fs = require('fs');\nconst raw = fs.readFileSync('/home/node/.n8n-files/script.txt', 'utf8');\nconst stmts = raw.split(';').map(s => s.trim()).filter(s => s.length > 0);\nconst auth = $env.NEO4J_MCP_AUTH_HEADER;\nlet ok = 0, fail = 0, errors = [];\nfor (let i = 0; i < stmts.length; i++) {\n  try {\n    const res = await axios.post('http://mcp-neo4j:7011/mcp', {\n      jsonrpc: '2.0',\n      method: 'tools/call',\n      params: { name: 'write-cypher', arguments: { query: stmts[i] } },\n      id: 100 + i\n    }, {\n      headers: { 'Authorization': auth, 'Content-Type': 'application/json' },\n      timeout: 30000\n    });\n    if (res.data && res.data.result && res.data.result.isError) {\n      fail++;\n      errors.push({ stmt: i, error: res.data.result.content[0].text });\n    } else {\n      ok++;\n    }\n  } catch (e) {\n    fail++;\n    errors.push({ stmt: i, error: e.message });\n  }\n}\nreturn [{ json: { total: stmts.length, ok, fail, errors: errors.slice(0, 5) } }];"
      },
      "id": "seed-db",
      "name": "Seed DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-mcp:7010/lean/command",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"cmd\": \"import WorldModel.KB.Arrow.Clinical\"}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "warm-up-lean",
      "name": "Warm Up Lean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        -300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "pipeline-chat-webhook"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a request classifier. Analyze the user's input and determine if it is:\n1. A \"query\" \u2014 asking for information about the database\n2. A \"pipeline\" \u2014 requesting to set up, arrange, or schedule a clinical workflow, meeting, or measurement pipeline for a patient\n\nRespond with ONLY a JSON object, no other text:\n{\"type\": \"query\", \"prompt\": \"<original user input>\"}\nor\n{\"type\": \"pipeline\", \"prompt\": \"<original user input>\"}",
          "maxIterations": 3
        }
      },
      "id": "router-agent",
      "name": "Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 256
        }
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        300,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst text = raw.replace(/^```(?:json)?\\n?/gm, '').replace(/```$/gm, '').trim();\ntry {\n  const parsed = JSON.parse(text);\n  return [{ json: { type: parsed.type, prompt: parsed.prompt } }];\n} catch (e) {\n  return [{ json: { type: 'query', prompt: raw } }];\n}"
      },
      "id": "parse-route",
      "name": "Parse Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pipeline",
              "leftValue": "={{ $json.type }}",
              "rightValue": "pipeline",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pipeline",
      "name": "IF Is Pipeline",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const prompt = $input.first().json.prompt;\nreturn [{ json: { designerInput: prompt, originalPrompt: prompt } }];"
      },
      "id": "prep-input",
      "name": "Prep Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.designerInput }}",
        "options": {
          "systemMessage": "# Designer Agent \u2014 System Prompt\n\nYou are a clinical pipeline designer. You receive a Schedule of Activities (SoA) text and a user request, then produce a pipeline plan that a Proof Agent will formalize in Lean 4.\n\n## Your tools\n\n- **read_cypher**: Run read-only Cypher queries against the knowledge base. **Batch your queries** \u2014 use OPTIONAL MATCH and multiple patterns to gather everything in 1-2 calls, not one query per fact.\n- **get_neo4j_schema**: Only call if the schema below has been compacted away from context.\n\n## Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n(Equipment)-[:imposesConstraint]->(Constraint {name,english,leanType})\n\n(ActionSpec {name,description})-[:REQUIRES {role: subject|operator|equipment|prerequisite}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n\n(SoA {name})-[:HAS_INTERACTION]->(Interaction {id,name,phase,iteration}), -[:HAS_ACTIVITY]->(Activity)\n(Interaction)-[:PERFORMS {value}]->(Activity), -[:FOLLOWS]->(Interaction)\n(Activity {name,displayName,category})-[:IMPLEMENTED_BY]->(ActionSpec), -[:REQUIRES_ACTIVITY]->(Activity)\n```\n\n## How to design a pipeline\n\n### 1. Understand the SoA\n\nThe SoA text describes the trial's visits, activities, ordering, and iteration patterns. It is generated by `SoA.toDesignerText` and looks like:\n\n```\n=== Schedule of Activities: OurTrial ===\n\nVISITS:\n  screening \"Screening Visit\" (screening, one-shot)\n    activities: consent [required], physicalExam [required], vitalSigns [required],\n               assessment [required], disqualify [conditional: if exclusion criteria met]\n\n  drugDose \"Drug Administration\" (treatment, bounded \u00d7 3, every 7d)\n    activities: drugAdmin [required], vitalSigns [required], aeCollection [required]\n\n  weeklyCheckup \"Weekly Checkup\" (followUp, unbounded until death, every 7d)\n    activities: vitalSigns [required], assessment [required],\n               aeCollection [required], survivalCheck [required]\n\nORDERING:\n  screening \u2192 drugDose \u2192 weeklyCheckup\n\nACTIVITY DEPENDENCIES:\n  physicalExam requires consent\n  drugAdmin requires consent\n  assessment requires physicalExam\n```\n\nKey iteration concepts:\n- **one-shot**: Visit happens exactly once (e.g., screening)\n- **bounded \u00d7 N**: Visit repeats a fixed number of times \u2014 compiled with `boundedIterate`\n- **unbounded until X**: Visit repeats indefinitely until a termination condition \u2014 compiled with `unboundedStep`\n\n### 2. Resolve SoA activities to catalog actions\n\nSoA activities are abstract. Query `IMPLEMENTED_BY` to find the concrete catalog actions:\n```cypher\nMATCH (a:Activity)-[:IMPLEMENTED_BY]->(s:ActionSpec)\nWHERE a.name IN [\"consent\", \"physicalExam\", \"vitalSigns\", ...]\nRETURN a.name, collect(s.name) as actions\n```\n\n**Compound activities** decompose into multiple ActionSpecs:\n- `physicalExam` \u2192 `heartMeasurement`, `bpMeasurement`, `vo2Measurement`\n- `vitalSigns` \u2192 `heartMeasurement`, `bpMeasurement`\n\nExpand these into individual steps in your plan.\n\n### 3. Resolve constraint-derived activities\n\nSome scope constraints require evidence tokens that aren't produced by SoA activities. Query:\n```cypher\nMATCH (c:Constraint)-[:REQUIRES_EVIDENCE]->(ot)<-[:PRODUCES]-(a:ActionSpec)\nRETURN c.name, ot, collect(a.name) as satisfyingActions\n```\n\nThis returns actions that can satisfy each constraint. Include these actions in the appropriate visit scopes.\n\n**`callConfirmed` constraint**: Each visit that enters a visit scope with `callConfirmed` requires `CallConfirmed` evidence. This is satisfied by a `confirmationCall` action. However, screening with branching does NOT use a visit scope \u2014 branching happens directly at room level. Only drug dose and checkup visits get `callConfirmed` scopes.\n\n### 4. Query the KB for resources\n\nQuery for the specific patient, trial, clinics, rooms, equipment, and clinicians. Find a clinic in the patient's city that the trial approves, a room with the needed equipment, and a clinician who is assigned there, holds the required qualifications, and shares a language with the patient.\n\n### 5. Build a scoped pipeline plan\n\nUse nesting to show scope structure:\n- **Trial scope**: The clinical trial provides the top-level context.\n- **Clinic scope**: An approved clinic provides the clinician and shared-language evidence.\n- **Room scope**: A room provides equipment and the clinician's equipment qualifications.\n- **Visit scopes** (drug and checkup only): Each visit is a scope that carries constraints (e.g., `callConfirmed`).\n\n### 6. Handle branching\n\nScreening visits may have conditional activities like `disqualify`. These produce branching in the compiled pipeline:\n- **Branch before consent**: consent refusal \u2192 `NonQualifying` (left path)\n- **Branch after assessment**: disqualification \u2192 `NonQualifying` (left path)\n- **Join**: Both NQ paths merge into a single `NonQualifying` outcome\n- **Success path**: continues to drug and checkup phases\n\nThe branching happens at room scope level (NOT inside a visit scope). This is important because `seq` requires single-outcome inputs \u2014 a branching screening cannot be sequenced with drug/checkup phases directly. Instead, the drug and checkup phases sit on the success branch.\n\n### 7. Handle iteration patterns\n\nFor each visit type:\n- **one-shot**: Single execution of the visit's activities (may include branching)\n- **bounded \u00d7 N**: Uses `boundedIterate` \u2014 scope manages `BoundedObligation` counter that decrements from N to 0. Each iteration wraps in a visit scope with `callConfirmed`.\n- **unbounded until X**: Uses `unboundedStep` \u2014 scope manages `Obligation`/`Fulfilled` pair. Each iteration wraps in a visit scope with `callConfirmed`.\n\n## Output format\n\nProduce a structured pipeline description like this:\n\n```\nPatient: Jose\nTrial: OurTrial\nSoA: OurTrial\n\nscope trial (OurTrial):\n  scope clinic (ValClinic, clinician=Allen, shared language=Spanish):\n    scope room (Room3, equipment=[ExamBed, BPMonitor, VO2Equipment]):\n      -- SCREENING (one-shot, branching at room level)\n      branch (consent refusal):\n        fail \u2192 disqualify \u2192 NonQualifying\n        ok \u2192 step consent: requires Patient, SharedLangEvidence \u2192 produces ConsentGiven\n             step assessment: requires Patient, ConsentGiven \u2192 produces AssessmentResult\n             branch (post-assessment):\n               fail \u2192 disqualify \u2192 NonQualifying\n               ok \u2192 drop ConsentGiven, AssessmentResult\n                    continue to drug + checkup phases\n      join NQ paths\n\n      -- DRUG ADMINISTRATION (bounded \u00d7 3, boundedIterate)\n      boundedIterate \"drugDose\" \u00d7 3:\n        scope dose-visit (callConfirmed):\n          step drugAdmin: requires BoundedObligation, Patient, Clinician \u2192 produces BoundedObligation(k-1)\n\n      -- WEEKLY CHECKUP (unbounded, unboundedStep)\n      unboundedStep \"weeklyCheckup\":\n        scope checkup-visit (callConfirmed):\n          step checkup: requires Obligation, Patient, Clinician \u2192 produces Fulfilled\n```\n\nFor each scope, list what it introduces and what constraints it carries. For each step, list its requirements and outputs (from the ActionSpec REQUIRES/PRODUCES edges in the KB).\n\n## Important\n\n- Do NOT invent actions or constraints \u2014 only use what the KB provides.\n- Use `IMPLEMENTED_BY` to resolve SoA activities to catalog actions. Compound activities (physicalExam, vitalSigns) expand to multiple steps.\n- For constraints with `REQUIRES_EVIDENCE` edges, include the evidence-producing action in your plan.\n- Screening with branching does NOT get a `callConfirmed` visit scope. Only drug and checkup visits do.\n- If no valid configuration exists (e.g., no clinician speaks the patient's language, no approved clinic in the patient's city), say so clearly and explain why.\n- If the Proof Agent pushes back with an error, revise your plan based on their feedback.\n",
          "maxIterations": 20
        }
      },
      "id": "designer-agent-1",
      "name": "Designer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1500,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "designer-llm",
      "name": "Designer LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "designer-read-cypher",
      "name": "designer_read_cypher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1540,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $input.first().json.output;\nconst originalPrompt = $('Prep Input').first().json.originalPrompt;\nreturn [{ json: { plan, originalPrompt } }];"
      },
      "id": "extract-plan-1",
      "name": "Extract Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.plan }}",
        "options": {
          "systemMessage": "# Proof Agent \u2014 System Prompt\n\nYou are a Lean 4 proof agent. You receive a pipeline description from the Designer Agent and must construct a formally verified clinical pipeline using the Arrow/SheetDiagram framework. You have access to Neo4j to resolve names to concrete Lean objects, and to the Lean type checker to verify your code.\n\n## MANDATORY PROCEDURE \u2014 you MUST follow these steps IN ORDER\n\n1. **Call `read_cypher`** to query Neo4j for ALL facts about the patient, clinician, clinic, room, equipment, qualifications, trial, and languages. Do NOT skip this step. Do NOT assume any facts from the Designer's plan.\n2. **Write complete Lean 4 code** based on the Neo4j results.\n3. **Call `lean_command`** with the complete code to type-check it. Do NOT claim success without calling this tool. Your code is NOT verified until `lean_command` returns `ok: true`.\n4. **If errors**, fix the code and call `lean_command` again. Repeat until `ok: true`.\n\n**NEVER output a final answer without having called BOTH `read_cypher` AND `lean_command`.**\n\n## Your tools\n\n- **lean_command**: Send complete Lean 4 code (with imports) for type checking. `ok: true` with no error-severity messages and empty `sorries` means success.\n- **read_cypher**: Query Neo4j. **Batch your queries** \u2014 combine lookups into one Cypher query using OPTIONAL MATCH. Never send individual queries for each fact.\n\n## Neo4j Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n\n(ActionSpec {name,description})-[:REQUIRES {role}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n(Activity)-[:IMPLEMENTED_BY]->(ActionSpec)\n```\n\nGather ALL facts in a single batched query, e.g.: `MATCH (h:Human) WHERE h.name IN ['Jose','Allen'] OPTIONAL MATCH (h)-[:speaks]->(l) OPTIONAL MATCH (h)-[:hasRole]->(r) OPTIONAL MATCH (h)-[:assigned]->(c) OPTIONAL MATCH (h)-[:hasQualification]->(q) RETURN h.name, collect(DISTINCT l.name) as languages, collect(DISTINCT r.name) as roles, collect(DISTINCT c.name) as clinics, collect(DISTINCT labels(q)) as quals`\n\n## How to construct a pipeline\n\n### Import \u2014 use exactly ONE line\n\n```lean\nimport WorldModel.KB.Arrow\n```\n\nThis transitively imports everything (Arrow, SheetDiagram, Iterate, Scope, Clinical types). Do NOT use `open` statements \u2014 they cause errors. Do NOT open `KB.Facts` \u2014 define ALL entities and facts inline from Neo4j queries.\n\n### Naming \u2014 avoid collisions\n\nWrap ALL code in a `namespace` using the patient's name:\n```lean\nnamespace JosePipeline\n-- ... all definitions here ...\nend JosePipeline\n```\n\nPrefix `abbrev` and `def` names with the patient's name (e.g., `jose`):\n- `josePatientCtx`, `joseTrialExt`, `joseClinicExt`, `joseRoomExt`, `joseFullCtx`\n- `joseConsentArrow`, `joseNqArrow`, `josePipeline`\n\n### Step 1: Define entities and facts inline\n\nQuery Neo4j, then define everything with constructors. Types available via import:\n- Entities: `Human.mk \"Name\"`, `Language.mk \"Lang\"`, `Clinic.mk \"Name\"`, `ClinicalTrial.mk \"Name\"`, `Room.mk \"Name\"`\n- Equipment: `ExamBed.mk`, `BPMonitor.mk`, `VO2Equipment.mk` (unit types)\n- Relations: `speaks.mk`, `holdsExamBedQual.mk`, `holdsBPMonitorQual.mk`, `holdsVO2EquipmentQual.mk`\n- Clinical: `Patient.mk \"Name\"`, `Clinician.mk \"Name\"`\n- Evidence structures:\n  - `SharedLangEvidence` \u2014 build with `{ lang := \"...\", cSpeaks := ..., pSpeaks := ... }`\n  - `ClinicCityEvidence` \u2014 build with `{ city := \"...\", cIsIn := ..., pLives := ... }`\n- Consent/DQ: `ConsentGiven.mk : Patient name \u2192 String \u2192 ConsentGiven name`, `NonQualifying.mk : Patient name \u2192 DisqualificationReason \u2192 NonQualifying name`\n- Call evidence: `CallConfirmed.mk : (patientName : String) \u2192 CallConfirmed patientName`\n- Drug types: `AdminRecord.mk`, `AEReport.mk`, `SurvivalStatus.mk`, `DrugDose.mk`\n- Obligation types: `Obligation.mk : (vid : String) \u2192 Obligation vid`, `Fulfilled.mk`, `BoundedObligation.mk : (vid : String) \u2192 (n : Nat) \u2192 BoundedObligation vid n`\n\n```lean\ndef joseH : Human \"Jose\" := Human.mk \"Jose\"\ndef allenH : Human \"Allen\" := Human.mk \"Allen\"\ndef jose_speaks_spanish : speaks joseH (Language.mk \"Spanish\") := speaks.mk\ndef allen_speaks_spanish : speaks allenH (Language.mk \"Spanish\") := speaks.mk\ndef allen_holds_exambed : holdsExamBedQual allenH .mk := holdsExamBedQual.mk\n-- ... etc for all KB facts ...\n```\n\nBuild evidence from individual facts:\n```lean\ndef joseLangEv : SharedLangEvidence \"Allen\" \"Jose\" :=\n  { lang := \"Spanish\", cSpeaks := allen_speaks_spanish, pSpeaks := jose_speaks_spanish }\ndef joseCityEv : ClinicCityEvidence \"ValClinic\" \"Jose\" :=\n  { city := \"Valencia\", cIsIn := valClinic_in_valencia, pLives := jose_lives_valencia }\n```\n\n### Step 2: Define contexts and scope state\n\nContexts (`Ctx`) are lists of types. Scope state (`ScopeState`) is a list of `ScopeItem`.\n\n```lean\n-- Patient context (outermost)\nabbrev joseCtx : Ctx := [Patient \"Jose\"]\nabbrev joseInitState : ScopeState := [.entry \u27e8\"Jose\", .patient\u27e9]\n\n-- Scope extensions \u2014 what each scope introduces into the context\nabbrev joseTrialExt : Ctx := [ClinicalTrial \"OurTrial\"]\nabbrev joseClinicExt : Ctx := [Clinic \"ValClinic\", Clinician \"Allen\",\n                                SharedLangEvidence \"Allen\" \"Jose\"]\nabbrev joseRoomExt : Ctx := [Room \"Room3\", ExamBed, BPMonitor, VO2Equipment,\n                              holdsExamBedQual allenH .mk, holdsBPMonitorQual allenH .mk,\n                              holdsVO2EquipmentQual allenH .mk]\n\n-- Full inner context: room ++ clinic ++ trial ++ patient\nabbrev joseFullCtx : Ctx := joseRoomExt ++ (joseClinicExt ++ (joseTrialExt ++ joseCtx))\n\n-- Scope items \u2014 define entries and constraints for each scope level\nabbrev joseTrialItems : List ScopeItem :=\n  [.entry \u27e8\"OurTrial\", .trial\u27e9, .constraint .clinicianSpeaksPatient]\nabbrev joseClinicItems : List ScopeItem :=\n  [.entry \u27e8\"ValClinic\", .clinic\u27e9, .entry \u27e8\"Allen\", .clinician\u27e9,\n   .constraint .clinicInPatientCity, .constraint .clinicianAssigned,\n   .constraint .trialApprovesClinic]\nabbrev joseRoomItems : List ScopeItem :=\n  [.entry \u27e8\"Room3\", .room\u27e9,\n   .entry \u27e8\"Allen\", .examBedTech\u27e9, .entry \u27e8\"Allen\", .bpTech\u27e9, .entry \u27e8\"Allen\", .vo2Tech\u27e9,\n   .constraint .examBedQual, .constraint .bpQual, .constraint .vo2Qual]\n\n-- Full scope state inside all scopes\nabbrev joseRoomState : ScopeState :=\n  joseRoomItems ++ (joseClinicItems ++ (joseTrialItems ++ joseInitState))\n```\n\n**Obligation types** must be spelled out explicitly (the `newObligations` function can't reduce at type-checking time):\n```lean\nabbrev joseTrialObligations : List Type := []\nabbrev joseClinicObligations : List Type :=\n  [ClinicCityEvidence \"ValClinic\" \"Jose\",\n   assigned (Human.mk \"Allen\") (Clinic.mk \"ValClinic\"),\n   trialApproves (ClinicalTrial.mk \"OurTrial\") (Clinic.mk \"ValClinic\"),\n   SharedLangEvidence \"Allen\" \"Jose\"]\nabbrev joseRoomObligations : List Type :=\n  [holdsExamBedQual (Human.mk \"Allen\") .mk,\n   holdsBPMonitorQual (Human.mk \"Allen\") .mk,\n   holdsVO2EquipmentQual (Human.mk \"Allen\") .mk]\n```\n\n### Step 3: Build Arrow steps with `mkArrow`\n\nUse the `mkArrow` helper \u2014 NOT raw `.step`. It takes a name, input types, output types, and a `Satisfy` proof:\n\n```lean\nmkArrow (name : String) (inputs produces : Ctx)\n    (satisfy : Satisfy (Tel.ofList inputs) \u0393 \u0393) : Arrow \u0393 (\u0393 ++ produces)\n```\n\n**Use `(by elem_tac)` for ALL Elem proofs** \u2014 never write `.here`/`.there` manually.\n\n**CRITICAL rules:**\n- `mkArrow` always sets `consumes := []` \u2014 the framework does not support consumption at the type level\n- Output type is always `\u0393 ++ produces` where `\u0393` is the current context\n\n```lean\n-- Consent arrow: operates on full context, produces ConsentGiven\ndef joseConsentArrow : Arrow joseFullCtx (joseFullCtx ++ [ConsentGiven \"Jose\"]) :=\n  mkArrow \"consent\"\n    [Patient \"Jose\", SharedLangEvidence \"Allen\" \"Jose\"]\n    [ConsentGiven \"Jose\"]\n    (.bind (Patient.mk \"Jose\") (by elem_tac)\n      (.bind joseLangEv (by elem_tac)\n        .nil))\n\n-- Assessment arrow: operates on context after consent\nabbrev joseAfterConsent : Ctx := joseFullCtx ++ [ConsentGiven \"Jose\"]\n\ndef joseAssessmentArrow : Arrow joseAfterConsent\n    (joseAfterConsent ++ [AssessmentResult \"Jose\"]) :=\n  mkArrow \"assessment\"\n    [Patient \"Jose\", ConsentGiven \"Jose\"]\n    [AssessmentResult \"Jose\"]\n    (.bind (Patient.mk \"Jose\") (by elem_tac)\n      (.bind (ConsentGiven.mk (Patient.mk \"Jose\") \"signed\") (by elem_tac)\n        .nil))\n```\n\n### Step 4: Build screening with branching\n\nScreening has two branch points: consent refusal and post-assessment disqualification. Branching happens at room scope level (NOT inside a visit scope).\n\n**Helpers needed:**\n\n```lean\n-- Polymorphic selection: drops extras to get back to fullCtx for NQ branch\ndef joseFullCtxSel {extra : Ctx}\n    : Selection (joseFullCtx ++ extra) joseFullCtx :=\n  Selection.prefix joseFullCtx extra\n\n-- Disqualification arrow: produces NonQualifying from Patient\ndef joseNqArrow : Arrow joseFullCtx (joseFullCtx ++ [NonQualifying \"Jose\"]) :=\n  mkArrow \"disqualify\"\n    [Patient \"Jose\"]\n    [NonQualifying \"Jose\"]\n    (.bind (Patient.mk \"Jose\") (by elem_tac) .nil)\n\n-- Context after consent + assessment (second branch point)\nabbrev joseAfterAssessment : Ctx :=\n  (joseFullCtx ++ [ConsentGiven \"Jose\"]) ++ [AssessmentResult \"Jose\"]\n\n-- Drop screening results to return to fullCtx\ndef joseDropScreening :\n    Split joseAfterAssessment\n          [ConsentGiven \"Jose\", AssessmentResult \"Jose\"] joseFullCtx :=\n  Split.append joseFullCtx [ConsentGiven \"Jose\", AssessmentResult \"Jose\"]\n    |>.comm\n```\n\n**Branching pattern** (2 branches, 1 join):\n\n```lean\n.join\n  (.branch (Split.idLeft joseFullCtx)\n    joseFullCtxSel (Selection.id joseFullCtx)\n    (.arrow joseNqArrow)                          -- consent refused \u2192 NQ\n    (.pipe joseConsentArrow\n      (.pipe joseAssessmentArrow\n        (.branch (Split.idLeft joseAfterAssessment)\n          joseFullCtxSel (Selection.id joseAfterAssessment)\n          (.arrow joseNqArrow)                    -- post-assessment NQ\n          (.pipe (.drop joseDropScreening)\n            (.seq drugPhase checkupPhase))))))     -- success \u2192 continue\n```\n\n**Key rules:**\n1. `.branch` splits the CURRENT context \u2014 use `Split.idLeft currentCtx`\n2. Failure `Selection` uses `joseFullCtxSel` which drops any extras accumulated after `fullCtx`\n3. Success `Selection` uses `Selection.id currentCtx` to keep everything\n4. ALL failure branches produce `[fullCtx ++ [NonQualifying \"Jose\"]]` for `.join` to unify\n5. N failure paths produce N copies of the NQ outcome; N-1 `.join`s collapse them\n6. The success path drops intermediate results (ConsentGiven, AssessmentResult) before continuing\n\n### Step 5: Iteration \u2014 bounded and unbounded phases\n\n#### Bounded iteration (drug doses \u00d7 N)\n\nUses `boundedIterate` combinator. You provide a body factory `mkBody k` that handles iteration `k`.\n\nEach iteration body must:\n1. Start with `[BoundedObligation vid (k+1)] ++ \u0393` in context\n2. Produce `[BoundedObligation vid k] ++ \u0393` as output\n3. Handle the obligation threading: produce new counter, drop old counter, swap to front\n\n```lean\n-- Visit-level scope items and obligations (for drug and checkup visits)\nabbrev joseVisitItems : List ScopeItem := [.constraint .callConfirmed]\nabbrev joseVisitObligations : List Type := [CallConfirmed \"Jose\"]\ndef jose_call_confirmed : CallConfirmed \"Jose\" := .mk \"Jose\"\nabbrev joseVisitState : ScopeState := joseVisitItems ++ joseRoomState\n\n-- Drug admin arrow: obligation at front of context\ndef joseDrugArrow (k : Nat) :\n    Arrow ([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx)\n          (([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx)\n            ++ [BoundedObligation \"drugDose\" k]) :=\n  mkArrow \"drugAdmin\"\n    [BoundedObligation \"drugDose\" (k+1), Patient \"Jose\", Clinician \"Allen\"]\n    [BoundedObligation \"drugDose\" k]\n    (.bind (BoundedObligation.mk \"drugDose\" (k+1)) (by elem_tac)\n      (.bind (Patient.mk \"Jose\") (by elem_tac)\n        (.bind (Clinician.mk \"Allen\") (by elem_tac)\n          .nil)))\n\n-- Drop old obligation, reorder new one to front\ndef joseDropBounded (k : Nat) :\n    Split (([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx)\n            ++ [BoundedObligation \"drugDose\" k])\n          [BoundedObligation \"drugDose\" (k+1)]\n          (joseFullCtx ++ [BoundedObligation \"drugDose\" k]) :=\n  .left (Split.idRight (joseFullCtx ++ [BoundedObligation \"drugDose\" k]))\n\ndef joseReorderBounded (k : Nat) :\n    Arrow (joseFullCtx ++ [BoundedObligation \"drugDose\" k])\n          ([BoundedObligation \"drugDose\" k] ++ joseFullCtx) :=\n  Arrow.swap (\u0393\u2081 := joseFullCtx) (\u0393\u2082 := [BoundedObligation \"drugDose\" k])\n\n-- Inner body (runs inside visit scope)\ndef joseDrugInner (k : Nat) : SheetDiagram joseVisitState\n    ([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx) joseVisitState\n    [[BoundedObligation \"drugDose\" k] ++ joseFullCtx] :=\n  .pipe (joseDrugArrow k)\n    (.pipe (.drop (joseDropBounded k))\n      (.arrow (joseReorderBounded k)))\n\n-- Visit scope wrapping inner body (provides callConfirmed)\ndef joseDrugVisit (k : Nat) : SheetDiagram joseRoomState\n    ([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx) joseRoomState\n    [[BoundedObligation \"drugDose\" k] ++ joseFullCtx] :=\n  .scope \"dose-visit\" joseVisitItems ([] : Ctx) ([] : Ctx) joseRoomState\n    joseVisitObligations jose_call_confirmed\n    (joseDrugInner k)\n\n-- Complete drug phase: 3 iterations\ndef joseDrugPhase : SheetDiagram joseRoomState joseFullCtx joseRoomState [joseFullCtx] :=\n  boundedIterate \"drugDose\" \"drug-dose\" joseDrugVisit 3\n```\n\n#### Unbounded iteration (weekly checkups)\n\nUses `unboundedStep` combinator. Body must consume `Obligation vid` and produce `Fulfilled vid`.\n\n```lean\n-- Checkup arrow: Obligation at front, produces Fulfilled\ndef joseCheckupArrow :\n    Arrow ([Obligation \"weeklyCheckup\"] ++ joseFullCtx)\n          (([Obligation \"weeklyCheckup\"] ++ joseFullCtx)\n            ++ [Fulfilled \"weeklyCheckup\"]) :=\n  mkArrow \"checkup\"\n    [Obligation \"weeklyCheckup\", Patient \"Jose\", Clinician \"Allen\"]\n    [Fulfilled \"weeklyCheckup\"]\n    (.bind (Obligation.mk \"weeklyCheckup\") (by elem_tac)\n      (.bind (Patient.mk \"Jose\") (by elem_tac)\n        (.bind (Clinician.mk \"Allen\") (by elem_tac)\n          .nil)))\n\n-- Drop consumed Obligation, reorder Fulfilled to front\ndef joseDropCheckupObl :\n    Split (([Obligation \"weeklyCheckup\"] ++ joseFullCtx)\n            ++ [Fulfilled \"weeklyCheckup\"])\n          [Obligation \"weeklyCheckup\"]\n          (joseFullCtx ++ [Fulfilled \"weeklyCheckup\"]) :=\n  .left (Split.idRight (joseFullCtx ++ [Fulfilled \"weeklyCheckup\"]))\n\ndef joseReorderFulfilled :\n    Arrow (joseFullCtx ++ [Fulfilled \"weeklyCheckup\"])\n          ([Fulfilled \"weeklyCheckup\"] ++ joseFullCtx) :=\n  Arrow.swap (\u0393\u2081 := joseFullCtx) (\u0393\u2082 := [Fulfilled \"weeklyCheckup\"])\n\n-- Inner body (runs inside visit scope)\ndef joseCheckupInner : SheetDiagram joseVisitState\n    ([Obligation \"weeklyCheckup\"] ++ joseFullCtx) joseVisitState\n    [[Fulfilled \"weeklyCheckup\"] ++ joseFullCtx] :=\n  .pipe joseCheckupArrow\n    (.pipe (.drop joseDropCheckupObl)\n      (.arrow joseReorderFulfilled))\n\n-- Visit scope wrapping inner body\ndef joseCheckupVisit : SheetDiagram joseRoomState\n    ([Obligation \"weeklyCheckup\"] ++ joseFullCtx) joseRoomState\n    [[Fulfilled \"weeklyCheckup\"] ++ joseFullCtx] :=\n  .scope \"checkup-visit\" joseVisitItems ([] : Ctx) ([] : Ctx) joseRoomState\n    joseVisitObligations jose_call_confirmed\n    joseCheckupInner\n\n-- Complete checkup phase\ndef joseCheckupPhase : SheetDiagram joseRoomState joseFullCtx joseRoomState [joseFullCtx] :=\n  unboundedStep \"weeklyCheckup\" \"weekly-checkup\" joseCheckupVisit\n```\n\n### Step 6: Compose the inner pipeline\n\nThe inner pipeline combines screening (with branching) + drug phase + checkup phase:\n\n```lean\ndef joseInnerPipeline : SheetDiagram joseRoomState joseFullCtx joseRoomState\n    [joseFullCtx ++ [NonQualifying \"Jose\"], joseFullCtx] :=\n  .join\n    (.branch (Split.idLeft joseFullCtx)\n      joseFullCtxSel (Selection.id joseFullCtx)\n      (.arrow joseNqArrow)\n      (.pipe joseConsentArrow\n        (.pipe joseAssessmentArrow\n          (.branch (Split.idLeft joseAfterAssessment)\n            joseFullCtxSel (Selection.id joseAfterAssessment)\n            (.arrow joseNqArrow)\n            (.pipe (.drop joseDropScreening)\n              (.seq joseDrugPhase joseCheckupPhase))))))\n```\n\n**Output type**: `[fullCtx ++ [NonQualifying \"Jose\"], fullCtx]` \u2014 two outcomes (NQ or success).\n\n### Step 7: Wrap in outer scopes\n\n```lean\ndef josePipeline : SheetDiagram joseInitState joseCtx joseInitState\n    [joseCtx ++ [NonQualifying \"Jose\"], joseCtx] :=\n  .scope \"trial\" joseTrialItems joseTrialExt joseTrialExt joseInitState\n    joseTrialObligations PUnit.unit\n    (.scope \"clinic\" joseClinicItems joseClinicExt joseClinicExt\n        (joseTrialItems ++ joseInitState)\n      joseClinicObligations\n      (joseCityEv, allen_assigned_val, trial_approves_val, joseLangEv)\n      (.scope \"room\" joseRoomItems joseRoomExt joseRoomExt\n          (joseClinicItems ++ (joseTrialItems ++ joseInitState))\n        joseRoomObligations\n        (allen_holds_exambed, allen_holds_bpmonitor, allen_holds_vo2equip)\n        joseInnerPipeline))\n```\n\nEach scope strips its extension from outputs. The `kept` context for each scope equals `ext` (trial, clinic, room extensions are all preserved).\n\n### Step 8: Erase and pretty-print\n\n```lean\n#eval toString (Erased.erase josePipeline)\n```\n\n## Scope constructor reference\n\n```lean\n.scope (label : String)\n       (newItems : List ScopeItem)    -- constraints + entries pushed onto state\n       (ext : Ctx)                    -- types added to context on entry\n       (kept : Ctx)                   -- types reclaimed on exit (stripped from outputs)\n       (st_out : ScopeState)          -- parent state restored on exit\n       (obligations : List Type)      -- proof obligations from newItems\n       (evidence : AllObligations obligations)  -- evidence satisfying obligations\n       (body : SheetDiagram ...)      -- inner diagram\n```\n\n**Visit scopes** have `ext = []`, `kept = []` \u2014 they only fire constraints (like callConfirmed), don't add or reclaim resources.\n\n**Iteration combinators** handle scope creation internally:\n- `boundedIterate vid label mkBody n` \u2014 creates n scope blocks with BoundedObligation management\n- `unboundedStep vid label body` \u2014 creates one scope block with Obligation/Fulfilled management\n\n## Pushing back to the Designer\n\nIf the plan cannot be formalized (missing resource, unsatisfied constraint, invalid structure), respond with `FAILED:` and a clear explanation naming the specific issue.\n\n## Output \u2014 CRITICAL formatting\n\nThe VERY FIRST characters of your response must be `VERIFIED:` or `FAILED:`.\n\nOn success, include:\n1. **Summary** \u2014 one paragraph\n2. **Lean code** \u2014 complete code in a ```lean fenced block\n3. **Pipeline diagram** \u2014 from `#eval toString (Erased.erase ...)`\n4. **Mermaid flowchart** \u2014 in a ```mermaid fenced block:\n\n```mermaid\ngraph TD\n    START([Patient]) --> B1{branch}\n    B1 -->|refuse| DQ1[disqualify]\n    B1 -->|ok| CONSENT[consent]\n    CONSENT --> ASSESS[assessment]\n    ASSESS --> B2{branch}\n    B2 -->|NQ| DQ2[disqualify]\n    B2 -->|qualify| DROP[drop results]\n    DQ1 --> JOIN((join))\n    DQ2 --> JOIN\n    JOIN --> NQ([NonQualifying])\n    DROP --> DRUG[\"Drug Doses (\u00d73)\\nboundedIterate\"]\n    DRUG --> CHECK[\"Weekly Checkups\\nunboundedStep\"]\n    CHECK --> OK([Qualified])\n    style NQ fill:#f66,stroke:#333\n    style OK fill:#6f6,stroke:#333\n```\n\nExample start: `VERIFIED: Built a multi-phase clinical pipeline for [patient] with screening (2 branch points, consent refusal + post-assessment NQ), 3 bounded drug doses, and unbounded weekly checkups...`\n",
          "maxIterations": 10
        }
      },
      "id": "prover-agent-1",
      "name": "Prover Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2100,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "id": "prover-llm",
      "name": "Prover LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        2000,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "name": "prover_lean_command",
        "description": "Run Lean 4 code and check it with the kernel. Send the COMPLETE Lean 4 source code including all import lines. Returns JSON with ok and result fields.",
        "language": "javaScript",
        "jsCode": "const http = require('http');\nconst body = JSON.stringify({cmd: query});\nconst result = await new Promise((resolve, reject) => {\n  const req = http.request('http://python-mcp:7010/lean/command', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) },\n    timeout: 300000\n  }, res => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => resolve(data));\n  });\n  req.on('error', e => resolve(JSON.stringify({ error: e.message })));\n  req.write(body);\n  req.end();\n});\nreturn result;"
      },
      "id": "prover-lean-cmd",
      "name": "prover_lean_command",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2140,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "prover-read-cypher",
      "name": "prover_read_cypher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2280,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "prover-get-schema",
      "name": "prover_get_schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2420,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst plan = $('Extract Plan').first().json.plan;\nconst originalPrompt = $('Extract Plan').first().json.originalPrompt;\n\nconst success = output.includes('VERIFIED:');\n\nreturn [{ json: { success, proverOutput: output, plan, originalPrompt } }];"
      },
      "id": "parse-result-1",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-success-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success-1",
      "name": "IF Prover Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2700,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.proverOutput;\n// Strip the VERIFIED: prefix\nconst content = output.replace(/^VERIFIED:\\s*/i, '');\nreturn [{ json: { output: content } }];"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { proverOutput, plan, originalPrompt } = $input.first().json;\n// Strip the FEEDBACK: prefix if present\nconst feedback = proverOutput.replace(/^FEEDBACK:\\s*/i, '');\nconst designerInput = `The user originally requested:\\n${originalPrompt}\\n\\nYou previously proposed this plan:\\n${plan}\\n\\nThe Proof Agent was unable to formalize it and gave this feedback:\\n${feedback}\\n\\nPlease revise your plan to address the feedback.`;\nreturn [{ json: { designerInput, originalPrompt } }];"
      },
      "id": "prep-feedback",
      "name": "Prep Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.designerInput }}",
        "options": {
          "systemMessage": "# Designer Agent \u2014 System Prompt\n\nYou are a clinical pipeline designer. You receive a Schedule of Activities (SoA) text and a user request, then produce a pipeline plan that a Proof Agent will formalize in Lean 4.\n\n## Your tools\n\n- **read_cypher**: Run read-only Cypher queries against the knowledge base. **Batch your queries** \u2014 use OPTIONAL MATCH and multiple patterns to gather everything in 1-2 calls, not one query per fact.\n- **get_neo4j_schema**: Only call if the schema below has been compacted away from context.\n\n## Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n(Equipment)-[:imposesConstraint]->(Constraint {name,english,leanType})\n\n(ActionSpec {name,description})-[:REQUIRES {role: subject|operator|equipment|prerequisite}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n\n(SoA {name})-[:HAS_INTERACTION]->(Interaction {id,name,phase,iteration}), -[:HAS_ACTIVITY]->(Activity)\n(Interaction)-[:PERFORMS {value}]->(Activity), -[:FOLLOWS]->(Interaction)\n(Activity {name,displayName,category})-[:IMPLEMENTED_BY]->(ActionSpec), -[:REQUIRES_ACTIVITY]->(Activity)\n```\n\n## How to design a pipeline\n\n### 1. Understand the SoA\n\nThe SoA text describes the trial's visits, activities, ordering, and iteration patterns. It is generated by `SoA.toDesignerText` and looks like:\n\n```\n=== Schedule of Activities: OurTrial ===\n\nVISITS:\n  screening \"Screening Visit\" (screening, one-shot)\n    activities: consent [required], physicalExam [required], vitalSigns [required],\n               assessment [required], disqualify [conditional: if exclusion criteria met]\n\n  drugDose \"Drug Administration\" (treatment, bounded \u00d7 3, every 7d)\n    activities: drugAdmin [required], vitalSigns [required], aeCollection [required]\n\n  weeklyCheckup \"Weekly Checkup\" (followUp, unbounded until death, every 7d)\n    activities: vitalSigns [required], assessment [required],\n               aeCollection [required], survivalCheck [required]\n\nORDERING:\n  screening \u2192 drugDose \u2192 weeklyCheckup\n\nACTIVITY DEPENDENCIES:\n  physicalExam requires consent\n  drugAdmin requires consent\n  assessment requires physicalExam\n```\n\nKey iteration concepts:\n- **one-shot**: Visit happens exactly once (e.g., screening)\n- **bounded \u00d7 N**: Visit repeats a fixed number of times \u2014 compiled with `boundedIterate`\n- **unbounded until X**: Visit repeats indefinitely until a termination condition \u2014 compiled with `unboundedStep`\n\n### 2. Resolve SoA activities to catalog actions\n\nSoA activities are abstract. Query `IMPLEMENTED_BY` to find the concrete catalog actions:\n```cypher\nMATCH (a:Activity)-[:IMPLEMENTED_BY]->(s:ActionSpec)\nWHERE a.name IN [\"consent\", \"physicalExam\", \"vitalSigns\", ...]\nRETURN a.name, collect(s.name) as actions\n```\n\n**Compound activities** decompose into multiple ActionSpecs:\n- `physicalExam` \u2192 `heartMeasurement`, `bpMeasurement`, `vo2Measurement`\n- `vitalSigns` \u2192 `heartMeasurement`, `bpMeasurement`\n\nExpand these into individual steps in your plan.\n\n### 3. Resolve constraint-derived activities\n\nSome scope constraints require evidence tokens that aren't produced by SoA activities. Query:\n```cypher\nMATCH (c:Constraint)-[:REQUIRES_EVIDENCE]->(ot)<-[:PRODUCES]-(a:ActionSpec)\nRETURN c.name, ot, collect(a.name) as satisfyingActions\n```\n\nThis returns actions that can satisfy each constraint. Include these actions in the appropriate visit scopes.\n\n**`callConfirmed` constraint**: Each visit that enters a visit scope with `callConfirmed` requires `CallConfirmed` evidence. This is satisfied by a `confirmationCall` action. However, screening with branching does NOT use a visit scope \u2014 branching happens directly at room level. Only drug dose and checkup visits get `callConfirmed` scopes.\n\n### 4. Query the KB for resources\n\nQuery for the specific patient, trial, clinics, rooms, equipment, and clinicians. Find a clinic in the patient's city that the trial approves, a room with the needed equipment, and a clinician who is assigned there, holds the required qualifications, and shares a language with the patient.\n\n### 5. Build a scoped pipeline plan\n\nUse nesting to show scope structure:\n- **Trial scope**: The clinical trial provides the top-level context.\n- **Clinic scope**: An approved clinic provides the clinician and shared-language evidence.\n- **Room scope**: A room provides equipment and the clinician's equipment qualifications.\n- **Visit scopes** (drug and checkup only): Each visit is a scope that carries constraints (e.g., `callConfirmed`).\n\n### 6. Handle branching\n\nScreening visits may have conditional activities like `disqualify`. These produce branching in the compiled pipeline:\n- **Branch before consent**: consent refusal \u2192 `NonQualifying` (left path)\n- **Branch after assessment**: disqualification \u2192 `NonQualifying` (left path)\n- **Join**: Both NQ paths merge into a single `NonQualifying` outcome\n- **Success path**: continues to drug and checkup phases\n\nThe branching happens at room scope level (NOT inside a visit scope). This is important because `seq` requires single-outcome inputs \u2014 a branching screening cannot be sequenced with drug/checkup phases directly. Instead, the drug and checkup phases sit on the success branch.\n\n### 7. Handle iteration patterns\n\nFor each visit type:\n- **one-shot**: Single execution of the visit's activities (may include branching)\n- **bounded \u00d7 N**: Uses `boundedIterate` \u2014 scope manages `BoundedObligation` counter that decrements from N to 0. Each iteration wraps in a visit scope with `callConfirmed`.\n- **unbounded until X**: Uses `unboundedStep` \u2014 scope manages `Obligation`/`Fulfilled` pair. Each iteration wraps in a visit scope with `callConfirmed`.\n\n## Output format\n\nProduce a structured pipeline description like this:\n\n```\nPatient: Jose\nTrial: OurTrial\nSoA: OurTrial\n\nscope trial (OurTrial):\n  scope clinic (ValClinic, clinician=Allen, shared language=Spanish):\n    scope room (Room3, equipment=[ExamBed, BPMonitor, VO2Equipment]):\n      -- SCREENING (one-shot, branching at room level)\n      branch (consent refusal):\n        fail \u2192 disqualify \u2192 NonQualifying\n        ok \u2192 step consent: requires Patient, SharedLangEvidence \u2192 produces ConsentGiven\n             step assessment: requires Patient, ConsentGiven \u2192 produces AssessmentResult\n             branch (post-assessment):\n               fail \u2192 disqualify \u2192 NonQualifying\n               ok \u2192 drop ConsentGiven, AssessmentResult\n                    continue to drug + checkup phases\n      join NQ paths\n\n      -- DRUG ADMINISTRATION (bounded \u00d7 3, boundedIterate)\n      boundedIterate \"drugDose\" \u00d7 3:\n        scope dose-visit (callConfirmed):\n          step drugAdmin: requires BoundedObligation, Patient, Clinician \u2192 produces BoundedObligation(k-1)\n\n      -- WEEKLY CHECKUP (unbounded, unboundedStep)\n      unboundedStep \"weeklyCheckup\":\n        scope checkup-visit (callConfirmed):\n          step checkup: requires Obligation, Patient, Clinician \u2192 produces Fulfilled\n```\n\nFor each scope, list what it introduces and what constraints it carries. For each step, list its requirements and outputs (from the ActionSpec REQUIRES/PRODUCES edges in the KB).\n\n## Important\n\n- Do NOT invent actions or constraints \u2014 only use what the KB provides.\n- Use `IMPLEMENTED_BY` to resolve SoA activities to catalog actions. Compound activities (physicalExam, vitalSigns) expand to multiple steps.\n- For constraints with `REQUIRES_EVIDENCE` edges, include the evidence-producing action in your plan.\n- Screening with branching does NOT get a `callConfirmed` visit scope. Only drug and checkup visits do.\n- If no valid configuration exists (e.g., no clinician speaks the patient's language, no approved clinic in the patient's city), say so clearly and explain why.\n- If the Proof Agent pushes back with an error, revise your plan based on their feedback.\n",
          "maxIterations": 20
        }
      },
      "id": "designer-agent-2",
      "name": "Designer Agent 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3300,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "designer-llm-2",
      "name": "Designer LLM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        3200,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "designer-read-cypher-2",
      "name": "designer_read_cypher_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3340,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $input.first().json.output;\nconst originalPrompt = $('Prep Feedback').first().json.originalPrompt;\nreturn [{ json: { plan, originalPrompt } }];"
      },
      "id": "extract-plan-2",
      "name": "Extract Plan 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.plan }}",
        "options": {
          "systemMessage": "# Proof Agent \u2014 System Prompt\n\nYou are a Lean 4 proof agent. You receive a pipeline description from the Designer Agent and must construct a formally verified clinical pipeline using the Arrow/SheetDiagram framework. You have access to Neo4j to resolve names to concrete Lean objects, and to the Lean type checker to verify your code.\n\n## MANDATORY PROCEDURE \u2014 you MUST follow these steps IN ORDER\n\n1. **Call `read_cypher`** to query Neo4j for ALL facts about the patient, clinician, clinic, room, equipment, qualifications, trial, and languages. Do NOT skip this step. Do NOT assume any facts from the Designer's plan.\n2. **Write complete Lean 4 code** based on the Neo4j results.\n3. **Call `lean_command`** with the complete code to type-check it. Do NOT claim success without calling this tool. Your code is NOT verified until `lean_command` returns `ok: true`.\n4. **If errors**, fix the code and call `lean_command` again. Repeat until `ok: true`.\n\n**NEVER output a final answer without having called BOTH `read_cypher` AND `lean_command`.**\n\n## Your tools\n\n- **lean_command**: Send complete Lean 4 code (with imports) for type checking. `ok: true` with no error-severity messages and empty `sorries` means success.\n- **read_cypher**: Query Neo4j. **Batch your queries** \u2014 combine lookups into one Cypher query using OPTIONAL MATCH. Never send individual queries for each fact.\n\n## Neo4j Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n\n(ActionSpec {name,description})-[:REQUIRES {role}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n(Activity)-[:IMPLEMENTED_BY]->(ActionSpec)\n```\n\nGather ALL facts in a single batched query, e.g.: `MATCH (h:Human) WHERE h.name IN ['Jose','Allen'] OPTIONAL MATCH (h)-[:speaks]->(l) OPTIONAL MATCH (h)-[:hasRole]->(r) OPTIONAL MATCH (h)-[:assigned]->(c) OPTIONAL MATCH (h)-[:hasQualification]->(q) RETURN h.name, collect(DISTINCT l.name) as languages, collect(DISTINCT r.name) as roles, collect(DISTINCT c.name) as clinics, collect(DISTINCT labels(q)) as quals`\n\n## How to construct a pipeline\n\n### Import \u2014 use exactly ONE line\n\n```lean\nimport WorldModel.KB.Arrow\n```\n\nThis transitively imports everything (Arrow, SheetDiagram, Iterate, Scope, Clinical types). Do NOT use `open` statements \u2014 they cause errors. Do NOT open `KB.Facts` \u2014 define ALL entities and facts inline from Neo4j queries.\n\n### Naming \u2014 avoid collisions\n\nWrap ALL code in a `namespace` using the patient's name:\n```lean\nnamespace JosePipeline\n-- ... all definitions here ...\nend JosePipeline\n```\n\nPrefix `abbrev` and `def` names with the patient's name (e.g., `jose`):\n- `josePatientCtx`, `joseTrialExt`, `joseClinicExt`, `joseRoomExt`, `joseFullCtx`\n- `joseConsentArrow`, `joseNqArrow`, `josePipeline`\n\n### Step 1: Define entities and facts inline\n\nQuery Neo4j, then define everything with constructors. Types available via import:\n- Entities: `Human.mk \"Name\"`, `Language.mk \"Lang\"`, `Clinic.mk \"Name\"`, `ClinicalTrial.mk \"Name\"`, `Room.mk \"Name\"`\n- Equipment: `ExamBed.mk`, `BPMonitor.mk`, `VO2Equipment.mk` (unit types)\n- Relations: `speaks.mk`, `holdsExamBedQual.mk`, `holdsBPMonitorQual.mk`, `holdsVO2EquipmentQual.mk`\n- Clinical: `Patient.mk \"Name\"`, `Clinician.mk \"Name\"`\n- Evidence structures:\n  - `SharedLangEvidence` \u2014 build with `{ lang := \"...\", cSpeaks := ..., pSpeaks := ... }`\n  - `ClinicCityEvidence` \u2014 build with `{ city := \"...\", cIsIn := ..., pLives := ... }`\n- Consent/DQ: `ConsentGiven.mk : Patient name \u2192 String \u2192 ConsentGiven name`, `NonQualifying.mk : Patient name \u2192 DisqualificationReason \u2192 NonQualifying name`\n- Call evidence: `CallConfirmed.mk : (patientName : String) \u2192 CallConfirmed patientName`\n- Drug types: `AdminRecord.mk`, `AEReport.mk`, `SurvivalStatus.mk`, `DrugDose.mk`\n- Obligation types: `Obligation.mk : (vid : String) \u2192 Obligation vid`, `Fulfilled.mk`, `BoundedObligation.mk : (vid : String) \u2192 (n : Nat) \u2192 BoundedObligation vid n`\n\n```lean\ndef joseH : Human \"Jose\" := Human.mk \"Jose\"\ndef allenH : Human \"Allen\" := Human.mk \"Allen\"\ndef jose_speaks_spanish : speaks joseH (Language.mk \"Spanish\") := speaks.mk\ndef allen_speaks_spanish : speaks allenH (Language.mk \"Spanish\") := speaks.mk\ndef allen_holds_exambed : holdsExamBedQual allenH .mk := holdsExamBedQual.mk\n-- ... etc for all KB facts ...\n```\n\nBuild evidence from individual facts:\n```lean\ndef joseLangEv : SharedLangEvidence \"Allen\" \"Jose\" :=\n  { lang := \"Spanish\", cSpeaks := allen_speaks_spanish, pSpeaks := jose_speaks_spanish }\ndef joseCityEv : ClinicCityEvidence \"ValClinic\" \"Jose\" :=\n  { city := \"Valencia\", cIsIn := valClinic_in_valencia, pLives := jose_lives_valencia }\n```\n\n### Step 2: Define contexts and scope state\n\nContexts (`Ctx`) are lists of types. Scope state (`ScopeState`) is a list of `ScopeItem`.\n\n```lean\n-- Patient context (outermost)\nabbrev joseCtx : Ctx := [Patient \"Jose\"]\nabbrev joseInitState : ScopeState := [.entry \u27e8\"Jose\", .patient\u27e9]\n\n-- Scope extensions \u2014 what each scope introduces into the context\nabbrev joseTrialExt : Ctx := [ClinicalTrial \"OurTrial\"]\nabbrev joseClinicExt : Ctx := [Clinic \"ValClinic\", Clinician \"Allen\",\n                                SharedLangEvidence \"Allen\" \"Jose\"]\nabbrev joseRoomExt : Ctx := [Room \"Room3\", ExamBed, BPMonitor, VO2Equipment,\n                              holdsExamBedQual allenH .mk, holdsBPMonitorQual allenH .mk,\n                              holdsVO2EquipmentQual allenH .mk]\n\n-- Full inner context: room ++ clinic ++ trial ++ patient\nabbrev joseFullCtx : Ctx := joseRoomExt ++ (joseClinicExt ++ (joseTrialExt ++ joseCtx))\n\n-- Scope items \u2014 define entries and constraints for each scope level\nabbrev joseTrialItems : List ScopeItem :=\n  [.entry \u27e8\"OurTrial\", .trial\u27e9, .constraint .clinicianSpeaksPatient]\nabbrev joseClinicItems : List ScopeItem :=\n  [.entry \u27e8\"ValClinic\", .clinic\u27e9, .entry \u27e8\"Allen\", .clinician\u27e9,\n   .constraint .clinicInPatientCity, .constraint .clinicianAssigned,\n   .constraint .trialApprovesClinic]\nabbrev joseRoomItems : List ScopeItem :=\n  [.entry \u27e8\"Room3\", .room\u27e9,\n   .entry \u27e8\"Allen\", .examBedTech\u27e9, .entry \u27e8\"Allen\", .bpTech\u27e9, .entry \u27e8\"Allen\", .vo2Tech\u27e9,\n   .constraint .examBedQual, .constraint .bpQual, .constraint .vo2Qual]\n\n-- Full scope state inside all scopes\nabbrev joseRoomState : ScopeState :=\n  joseRoomItems ++ (joseClinicItems ++ (joseTrialItems ++ joseInitState))\n```\n\n**Obligation types** must be spelled out explicitly (the `newObligations` function can't reduce at type-checking time):\n```lean\nabbrev joseTrialObligations : List Type := []\nabbrev joseClinicObligations : List Type :=\n  [ClinicCityEvidence \"ValClinic\" \"Jose\",\n   assigned (Human.mk \"Allen\") (Clinic.mk \"ValClinic\"),\n   trialApproves (ClinicalTrial.mk \"OurTrial\") (Clinic.mk \"ValClinic\"),\n   SharedLangEvidence \"Allen\" \"Jose\"]\nabbrev joseRoomObligations : List Type :=\n  [holdsExamBedQual (Human.mk \"Allen\") .mk,\n   holdsBPMonitorQual (Human.mk \"Allen\") .mk,\n   holdsVO2EquipmentQual (Human.mk \"Allen\") .mk]\n```\n\n### Step 3: Build Arrow steps with `mkArrow`\n\nUse the `mkArrow` helper \u2014 NOT raw `.step`. It takes a name, input types, output types, and a `Satisfy` proof:\n\n```lean\nmkArrow (name : String) (inputs produces : Ctx)\n    (satisfy : Satisfy (Tel.ofList inputs) \u0393 \u0393) : Arrow \u0393 (\u0393 ++ produces)\n```\n\n**Use `(by elem_tac)` for ALL Elem proofs** \u2014 never write `.here`/`.there` manually.\n\n**CRITICAL rules:**\n- `mkArrow` always sets `consumes := []` \u2014 the framework does not support consumption at the type level\n- Output type is always `\u0393 ++ produces` where `\u0393` is the current context\n\n```lean\n-- Consent arrow: operates on full context, produces ConsentGiven\ndef joseConsentArrow : Arrow joseFullCtx (joseFullCtx ++ [ConsentGiven \"Jose\"]) :=\n  mkArrow \"consent\"\n    [Patient \"Jose\", SharedLangEvidence \"Allen\" \"Jose\"]\n    [ConsentGiven \"Jose\"]\n    (.bind (Patient.mk \"Jose\") (by elem_tac)\n      (.bind joseLangEv (by elem_tac)\n        .nil))\n\n-- Assessment arrow: operates on context after consent\nabbrev joseAfterConsent : Ctx := joseFullCtx ++ [ConsentGiven \"Jose\"]\n\ndef joseAssessmentArrow : Arrow joseAfterConsent\n    (joseAfterConsent ++ [AssessmentResult \"Jose\"]) :=\n  mkArrow \"assessment\"\n    [Patient \"Jose\", ConsentGiven \"Jose\"]\n    [AssessmentResult \"Jose\"]\n    (.bind (Patient.mk \"Jose\") (by elem_tac)\n      (.bind (ConsentGiven.mk (Patient.mk \"Jose\") \"signed\") (by elem_tac)\n        .nil))\n```\n\n### Step 4: Build screening with branching\n\nScreening has two branch points: consent refusal and post-assessment disqualification. Branching happens at room scope level (NOT inside a visit scope).\n\n**Helpers needed:**\n\n```lean\n-- Polymorphic selection: drops extras to get back to fullCtx for NQ branch\ndef joseFullCtxSel {extra : Ctx}\n    : Selection (joseFullCtx ++ extra) joseFullCtx :=\n  Selection.prefix joseFullCtx extra\n\n-- Disqualification arrow: produces NonQualifying from Patient\ndef joseNqArrow : Arrow joseFullCtx (joseFullCtx ++ [NonQualifying \"Jose\"]) :=\n  mkArrow \"disqualify\"\n    [Patient \"Jose\"]\n    [NonQualifying \"Jose\"]\n    (.bind (Patient.mk \"Jose\") (by elem_tac) .nil)\n\n-- Context after consent + assessment (second branch point)\nabbrev joseAfterAssessment : Ctx :=\n  (joseFullCtx ++ [ConsentGiven \"Jose\"]) ++ [AssessmentResult \"Jose\"]\n\n-- Drop screening results to return to fullCtx\ndef joseDropScreening :\n    Split joseAfterAssessment\n          [ConsentGiven \"Jose\", AssessmentResult \"Jose\"] joseFullCtx :=\n  Split.append joseFullCtx [ConsentGiven \"Jose\", AssessmentResult \"Jose\"]\n    |>.comm\n```\n\n**Branching pattern** (2 branches, 1 join):\n\n```lean\n.join\n  (.branch (Split.idLeft joseFullCtx)\n    joseFullCtxSel (Selection.id joseFullCtx)\n    (.arrow joseNqArrow)                          -- consent refused \u2192 NQ\n    (.pipe joseConsentArrow\n      (.pipe joseAssessmentArrow\n        (.branch (Split.idLeft joseAfterAssessment)\n          joseFullCtxSel (Selection.id joseAfterAssessment)\n          (.arrow joseNqArrow)                    -- post-assessment NQ\n          (.pipe (.drop joseDropScreening)\n            (.seq drugPhase checkupPhase))))))     -- success \u2192 continue\n```\n\n**Key rules:**\n1. `.branch` splits the CURRENT context \u2014 use `Split.idLeft currentCtx`\n2. Failure `Selection` uses `joseFullCtxSel` which drops any extras accumulated after `fullCtx`\n3. Success `Selection` uses `Selection.id currentCtx` to keep everything\n4. ALL failure branches produce `[fullCtx ++ [NonQualifying \"Jose\"]]` for `.join` to unify\n5. N failure paths produce N copies of the NQ outcome; N-1 `.join`s collapse them\n6. The success path drops intermediate results (ConsentGiven, AssessmentResult) before continuing\n\n### Step 5: Iteration \u2014 bounded and unbounded phases\n\n#### Bounded iteration (drug doses \u00d7 N)\n\nUses `boundedIterate` combinator. You provide a body factory `mkBody k` that handles iteration `k`.\n\nEach iteration body must:\n1. Start with `[BoundedObligation vid (k+1)] ++ \u0393` in context\n2. Produce `[BoundedObligation vid k] ++ \u0393` as output\n3. Handle the obligation threading: produce new counter, drop old counter, swap to front\n\n```lean\n-- Visit-level scope items and obligations (for drug and checkup visits)\nabbrev joseVisitItems : List ScopeItem := [.constraint .callConfirmed]\nabbrev joseVisitObligations : List Type := [CallConfirmed \"Jose\"]\ndef jose_call_confirmed : CallConfirmed \"Jose\" := .mk \"Jose\"\nabbrev joseVisitState : ScopeState := joseVisitItems ++ joseRoomState\n\n-- Drug admin arrow: obligation at front of context\ndef joseDrugArrow (k : Nat) :\n    Arrow ([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx)\n          (([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx)\n            ++ [BoundedObligation \"drugDose\" k]) :=\n  mkArrow \"drugAdmin\"\n    [BoundedObligation \"drugDose\" (k+1), Patient \"Jose\", Clinician \"Allen\"]\n    [BoundedObligation \"drugDose\" k]\n    (.bind (BoundedObligation.mk \"drugDose\" (k+1)) (by elem_tac)\n      (.bind (Patient.mk \"Jose\") (by elem_tac)\n        (.bind (Clinician.mk \"Allen\") (by elem_tac)\n          .nil)))\n\n-- Drop old obligation, reorder new one to front\ndef joseDropBounded (k : Nat) :\n    Split (([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx)\n            ++ [BoundedObligation \"drugDose\" k])\n          [BoundedObligation \"drugDose\" (k+1)]\n          (joseFullCtx ++ [BoundedObligation \"drugDose\" k]) :=\n  .left (Split.idRight (joseFullCtx ++ [BoundedObligation \"drugDose\" k]))\n\ndef joseReorderBounded (k : Nat) :\n    Arrow (joseFullCtx ++ [BoundedObligation \"drugDose\" k])\n          ([BoundedObligation \"drugDose\" k] ++ joseFullCtx) :=\n  Arrow.swap (\u0393\u2081 := joseFullCtx) (\u0393\u2082 := [BoundedObligation \"drugDose\" k])\n\n-- Inner body (runs inside visit scope)\ndef joseDrugInner (k : Nat) : SheetDiagram joseVisitState\n    ([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx) joseVisitState\n    [[BoundedObligation \"drugDose\" k] ++ joseFullCtx] :=\n  .pipe (joseDrugArrow k)\n    (.pipe (.drop (joseDropBounded k))\n      (.arrow (joseReorderBounded k)))\n\n-- Visit scope wrapping inner body (provides callConfirmed)\ndef joseDrugVisit (k : Nat) : SheetDiagram joseRoomState\n    ([BoundedObligation \"drugDose\" (k+1)] ++ joseFullCtx) joseRoomState\n    [[BoundedObligation \"drugDose\" k] ++ joseFullCtx] :=\n  .scope \"dose-visit\" joseVisitItems ([] : Ctx) ([] : Ctx) joseRoomState\n    joseVisitObligations jose_call_confirmed\n    (joseDrugInner k)\n\n-- Complete drug phase: 3 iterations\ndef joseDrugPhase : SheetDiagram joseRoomState joseFullCtx joseRoomState [joseFullCtx] :=\n  boundedIterate \"drugDose\" \"drug-dose\" joseDrugVisit 3\n```\n\n#### Unbounded iteration (weekly checkups)\n\nUses `unboundedStep` combinator. Body must consume `Obligation vid` and produce `Fulfilled vid`.\n\n```lean\n-- Checkup arrow: Obligation at front, produces Fulfilled\ndef joseCheckupArrow :\n    Arrow ([Obligation \"weeklyCheckup\"] ++ joseFullCtx)\n          (([Obligation \"weeklyCheckup\"] ++ joseFullCtx)\n            ++ [Fulfilled \"weeklyCheckup\"]) :=\n  mkArrow \"checkup\"\n    [Obligation \"weeklyCheckup\", Patient \"Jose\", Clinician \"Allen\"]\n    [Fulfilled \"weeklyCheckup\"]\n    (.bind (Obligation.mk \"weeklyCheckup\") (by elem_tac)\n      (.bind (Patient.mk \"Jose\") (by elem_tac)\n        (.bind (Clinician.mk \"Allen\") (by elem_tac)\n          .nil)))\n\n-- Drop consumed Obligation, reorder Fulfilled to front\ndef joseDropCheckupObl :\n    Split (([Obligation \"weeklyCheckup\"] ++ joseFullCtx)\n            ++ [Fulfilled \"weeklyCheckup\"])\n          [Obligation \"weeklyCheckup\"]\n          (joseFullCtx ++ [Fulfilled \"weeklyCheckup\"]) :=\n  .left (Split.idRight (joseFullCtx ++ [Fulfilled \"weeklyCheckup\"]))\n\ndef joseReorderFulfilled :\n    Arrow (joseFullCtx ++ [Fulfilled \"weeklyCheckup\"])\n          ([Fulfilled \"weeklyCheckup\"] ++ joseFullCtx) :=\n  Arrow.swap (\u0393\u2081 := joseFullCtx) (\u0393\u2082 := [Fulfilled \"weeklyCheckup\"])\n\n-- Inner body (runs inside visit scope)\ndef joseCheckupInner : SheetDiagram joseVisitState\n    ([Obligation \"weeklyCheckup\"] ++ joseFullCtx) joseVisitState\n    [[Fulfilled \"weeklyCheckup\"] ++ joseFullCtx] :=\n  .pipe joseCheckupArrow\n    (.pipe (.drop joseDropCheckupObl)\n      (.arrow joseReorderFulfilled))\n\n-- Visit scope wrapping inner body\ndef joseCheckupVisit : SheetDiagram joseRoomState\n    ([Obligation \"weeklyCheckup\"] ++ joseFullCtx) joseRoomState\n    [[Fulfilled \"weeklyCheckup\"] ++ joseFullCtx] :=\n  .scope \"checkup-visit\" joseVisitItems ([] : Ctx) ([] : Ctx) joseRoomState\n    joseVisitObligations jose_call_confirmed\n    joseCheckupInner\n\n-- Complete checkup phase\ndef joseCheckupPhase : SheetDiagram joseRoomState joseFullCtx joseRoomState [joseFullCtx] :=\n  unboundedStep \"weeklyCheckup\" \"weekly-checkup\" joseCheckupVisit\n```\n\n### Step 6: Compose the inner pipeline\n\nThe inner pipeline combines screening (with branching) + drug phase + checkup phase:\n\n```lean\ndef joseInnerPipeline : SheetDiagram joseRoomState joseFullCtx joseRoomState\n    [joseFullCtx ++ [NonQualifying \"Jose\"], joseFullCtx] :=\n  .join\n    (.branch (Split.idLeft joseFullCtx)\n      joseFullCtxSel (Selection.id joseFullCtx)\n      (.arrow joseNqArrow)\n      (.pipe joseConsentArrow\n        (.pipe joseAssessmentArrow\n          (.branch (Split.idLeft joseAfterAssessment)\n            joseFullCtxSel (Selection.id joseAfterAssessment)\n            (.arrow joseNqArrow)\n            (.pipe (.drop joseDropScreening)\n              (.seq joseDrugPhase joseCheckupPhase))))))\n```\n\n**Output type**: `[fullCtx ++ [NonQualifying \"Jose\"], fullCtx]` \u2014 two outcomes (NQ or success).\n\n### Step 7: Wrap in outer scopes\n\n```lean\ndef josePipeline : SheetDiagram joseInitState joseCtx joseInitState\n    [joseCtx ++ [NonQualifying \"Jose\"], joseCtx] :=\n  .scope \"trial\" joseTrialItems joseTrialExt joseTrialExt joseInitState\n    joseTrialObligations PUnit.unit\n    (.scope \"clinic\" joseClinicItems joseClinicExt joseClinicExt\n        (joseTrialItems ++ joseInitState)\n      joseClinicObligations\n      (joseCityEv, allen_assigned_val, trial_approves_val, joseLangEv)\n      (.scope \"room\" joseRoomItems joseRoomExt joseRoomExt\n          (joseClinicItems ++ (joseTrialItems ++ joseInitState))\n        joseRoomObligations\n        (allen_holds_exambed, allen_holds_bpmonitor, allen_holds_vo2equip)\n        joseInnerPipeline))\n```\n\nEach scope strips its extension from outputs. The `kept` context for each scope equals `ext` (trial, clinic, room extensions are all preserved).\n\n### Step 8: Erase and pretty-print\n\n```lean\n#eval toString (Erased.erase josePipeline)\n```\n\n## Scope constructor reference\n\n```lean\n.scope (label : String)\n       (newItems : List ScopeItem)    -- constraints + entries pushed onto state\n       (ext : Ctx)                    -- types added to context on entry\n       (kept : Ctx)                   -- types reclaimed on exit (stripped from outputs)\n       (st_out : ScopeState)          -- parent state restored on exit\n       (obligations : List Type)      -- proof obligations from newItems\n       (evidence : AllObligations obligations)  -- evidence satisfying obligations\n       (body : SheetDiagram ...)      -- inner diagram\n```\n\n**Visit scopes** have `ext = []`, `kept = []` \u2014 they only fire constraints (like callConfirmed), don't add or reclaim resources.\n\n**Iteration combinators** handle scope creation internally:\n- `boundedIterate vid label mkBody n` \u2014 creates n scope blocks with BoundedObligation management\n- `unboundedStep vid label body` \u2014 creates one scope block with Obligation/Fulfilled management\n\n## Pushing back to the Designer\n\nIf the plan cannot be formalized (missing resource, unsatisfied constraint, invalid structure), respond with `FAILED:` and a clear explanation naming the specific issue.\n\n## Output \u2014 CRITICAL formatting\n\nThe VERY FIRST characters of your response must be `VERIFIED:` or `FAILED:`.\n\nOn success, include:\n1. **Summary** \u2014 one paragraph\n2. **Lean code** \u2014 complete code in a ```lean fenced block\n3. **Pipeline diagram** \u2014 from `#eval toString (Erased.erase ...)`\n4. **Mermaid flowchart** \u2014 in a ```mermaid fenced block:\n\n```mermaid\ngraph TD\n    START([Patient]) --> B1{branch}\n    B1 -->|refuse| DQ1[disqualify]\n    B1 -->|ok| CONSENT[consent]\n    CONSENT --> ASSESS[assessment]\n    ASSESS --> B2{branch}\n    B2 -->|NQ| DQ2[disqualify]\n    B2 -->|qualify| DROP[drop results]\n    DQ1 --> JOIN((join))\n    DQ2 --> JOIN\n    JOIN --> NQ([NonQualifying])\n    DROP --> DRUG[\"Drug Doses (\u00d73)\\nboundedIterate\"]\n    DRUG --> CHECK[\"Weekly Checkups\\nunboundedStep\"]\n    CHECK --> OK([Qualified])\n    style NQ fill:#f66,stroke:#333\n    style OK fill:#6f6,stroke:#333\n```\n\nExample start: `VERIFIED: Built a multi-phase clinical pipeline for [patient] with screening (2 branch points, consent refusal + post-assessment NQ), 3 bounded drug doses, and unbounded weekly checkups...`\n",
          "maxIterations": 10
        }
      },
      "id": "prover-agent-2",
      "name": "Prover Agent 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3900,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "id": "prover-llm-2",
      "name": "Prover LLM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        3800,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "name": "prover_lean_command_2",
        "description": "Run Lean 4 code and check it with the kernel. Send the COMPLETE Lean 4 source code including all import lines. Returns JSON with ok and result fields.",
        "language": "javaScript",
        "jsCode": "const http = require('http');\nconst body = JSON.stringify({cmd: query});\nconst result = await new Promise((resolve, reject) => {\n  const req = http.request('http://python-mcp:7010/lean/command', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) },\n    timeout: 300000\n  }, res => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => resolve(data));\n  });\n  req.on('error', e => resolve(JSON.stringify({ error: e.message })));\n  req.write(body);\n  req.end();\n});\nreturn result;"
      },
      "id": "prover-lean-cmd-2",
      "name": "prover_lean_command_2",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3940,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "prover-read-cypher-2",
      "name": "prover_read_cypher_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4080,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "prover-get-schema-2",
      "name": "prover_get_schema_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4220,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst success = output.includes('VERIFIED:');\nreturn [{ json: { success, proverOutput: output } }];"
      },
      "id": "parse-result-2",
      "name": "Parse Result 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-success-2",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success-2",
      "name": "IF Prover 2 Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4500,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.proverOutput;\nconst content = output.replace(/^VERIFIED:\\s*/i, '');\nreturn [{ json: { output: content } }];"
      },
      "id": "format-output-2",
      "name": "Format Output 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.proverOutput;\nconst feedback = output.replace(/^FEEDBACK:\\s*/i, '');\nreturn [{ json: { output: 'Pipeline construction failed after 2 attempts. Last feedback:\\n\\n' + feedback } }];"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a database query agent with access to a Neo4j graph database containing clinical trial data. Use get_neo4j_schema to inspect the database structure before querying, then use read_cypher to answer the user's question. Be concise and informative.",
          "maxIterations": 10
        }
      },
      "id": "query-agent",
      "name": "Query Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 1024
        }
      },
      "id": "query-llm",
      "name": "Query LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1100,
        500
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "query-read-cypher",
      "name": "query_read_cypher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "designer-get-schema",
      "name": "designer_get_schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1680,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "designer-get-schema-2",
      "name": "designer_get_schema_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3480,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "query-get-schema",
      "name": "query_get_schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst output = $input.first().json.output;\nconst outDir = '/home/node/out';\n\n// Generate timestamped filename\nconst now = new Date();\nconst ts = now.toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst filename = `pipeline-${ts}.md`;\nconst filepath = path.join(outDir, filename);\n\nfs.writeFileSync(filepath, output, 'utf8');\n\nreturn [{ json: { output, savedTo: filename } }];"
      },
      "id": "6af76343-6ea6-4f84-8875-1e7102367dd8",
      "name": "Save Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        -300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Neo4j MCP Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j MCP Init": {
      "main": [
        [
          {
            "node": "Delete All Nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete All Nodes": {
      "main": [
        [
          {
            "node": "Seed DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed DB": {
      "main": [
        [
          {
            "node": "Warm Up Lean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Agent": {
      "main": [
        [
          {
            "node": "Parse Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Route": {
      "main": [
        [
          {
            "node": "IF Is Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Pipeline": {
      "main": [
        [
          {
            "node": "Prep Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Input": {
      "main": [
        [
          {
            "node": "Designer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Designer Agent": {
      "main": [
        [
          {
            "node": "Extract Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plan": {
      "main": [
        [
          {
            "node": "Prover Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prover Agent": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "IF Prover Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Prover Success": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Feedback": {
      "main": [
        [
          {
            "node": "Designer Agent 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Designer Agent 2": {
      "main": [
        [
          {
            "node": "Extract Plan 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plan 2": {
      "main": [
        [
          {
            "node": "Prover Agent 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prover Agent 2": {
      "main": [
        [
          {
            "node": "Parse Result 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result 2": {
      "main": [
        [
          {
            "node": "IF Prover 2 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Prover 2 Success": {
      "main": [
        [
          {
            "node": "Format Output 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Designer LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Designer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "designer_read_cypher": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prover LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prover_lean_command": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_read_cypher": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_get_schema": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Designer LLM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Designer Agent 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "designer_read_cypher_2": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prover LLM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prover_lean_command_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_read_cypher_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_get_schema_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Query Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "query_read_cypher": {
      "ai_tool": [
        [
          {
            "node": "Query Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "designer_get_schema": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "designer_get_schema_2": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "query_get_schema": {
      "ai_tool": [
        [
          {
            "node": "Query Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output 2": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "active": false
}