n8n/workflows/PipelineConstruction.json
{
  "name": "Pipeline Construction",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-neo4j:7011/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.NEO4J_MCP_AUTH_HEADER }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\":\"2.0\",\"method\":\"initialize\",\"params\":{\"protocolVersion\":\"2024-11-05\",\"capabilities\":{},\"clientInfo\":{\"name\":\"n8n-pipeline\",\"version\":\"0.1.0\"}},\"id\":1}",
        "options": {}
      },
      "id": "neo4j-init",
      "name": "Neo4j MCP Init",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-neo4j:7011/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.NEO4J_MCP_AUTH_HEADER }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"jsonrpc\":\"2.0\",\"method\":\"tools/call\",\"params\":{\"name\":\"write-cypher\",\"arguments\":{\"query\":\"MATCH (n) DETACH DELETE n\"}},\"id\":2}",
        "options": {}
      },
      "id": "delete-all",
      "name": "Delete All Nodes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\nconst fs = require('fs');\nconst raw = fs.readFileSync('/home/node/.n8n-files/script.txt', 'utf8');\nconst stmts = raw.split(';').map(s => s.trim()).filter(s => s.length > 0);\nconst auth = $env.NEO4J_MCP_AUTH_HEADER;\nlet ok = 0, fail = 0, errors = [];\nfor (let i = 0; i < stmts.length; i++) {\n  try {\n    const res = await axios.post('http://mcp-neo4j:7011/mcp', {\n      jsonrpc: '2.0',\n      method: 'tools/call',\n      params: { name: 'write-cypher', arguments: { query: stmts[i] } },\n      id: 100 + i\n    }, {\n      headers: { 'Authorization': auth, 'Content-Type': 'application/json' },\n      timeout: 30000\n    });\n    if (res.data && res.data.result && res.data.result.isError) {\n      fail++;\n      errors.push({ stmt: i, error: res.data.result.content[0].text });\n    } else {\n      ok++;\n    }\n  } catch (e) {\n    fail++;\n    errors.push({ stmt: i, error: e.message });\n  }\n}\nreturn [{ json: { total: stmts.length, ok, fail, errors: errors.slice(0, 5) } }];"
      },
      "id": "seed-db",
      "name": "Seed DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-mcp:7010/lean/command",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"cmd\": \"import WorldModel.KB.Arrow.Clinical\"}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "warm-up-lean",
      "name": "Warm Up Lean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        -300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "pipeline-chat-webhook"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a request classifier. Analyze the user's input and determine if it is:\n1. A \"query\" — asking for information about the database\n2. A \"pipeline\" — requesting to set up, arrange, or schedule a clinical workflow, meeting, or measurement pipeline for a patient\n\nRespond with ONLY a JSON object, no other text:\n{\"type\": \"query\", \"prompt\": \"<original user input>\"}\nor\n{\"type\": \"pipeline\", \"prompt\": \"<original user input>\"}",
          "maxIterations": 3
        }
      },
      "id": "router-agent",
      "name": "Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 256
        }
      },
      "id": "router-llm",
      "name": "Router LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        300,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst text = raw.replace(/^```(?:json)?\\n?/gm, '').replace(/```$/gm, '').trim();\ntry {\n  const parsed = JSON.parse(text);\n  return [{ json: { type: parsed.type, prompt: parsed.prompt } }];\n} catch (e) {\n  return [{ json: { type: 'query', prompt: raw } }];\n}"
      },
      "id": "parse-route",
      "name": "Parse Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pipeline",
              "leftValue": "={{ $json.type }}",
              "rightValue": "pipeline",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pipeline",
      "name": "IF Is Pipeline",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const prompt = $input.first().json.prompt;\nreturn [{ json: { designerInput: prompt, originalPrompt: prompt } }];"
      },
      "id": "prep-input",
      "name": "Prep Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.designerInput }}",
        "options": {
          "systemMessage": "# Designer Agent — System Prompt\n\nYou are a clinical pipeline designer. You receive a Schedule of Activities (SoA) text and a user request, then produce a pipeline plan that a Proof Agent will formalize in Lean 4.\n\n## Your tools\n\n- **read_cypher**: Run read-only Cypher queries against the knowledge base.\n- **get_neo4j_schema**: Only call if the schema below has been compacted away from context.\n\n## CRITICAL — Query discipline (max 3 calls)\n\nYou have a strict rate limit. Use **at most 3 `read_cypher` calls total**. Combine everything into large batched queries using OPTIONAL MATCH. Do NOT send one query per fact — that will hit the rate limit and fail.\n\n**Call 1 — SoA structure** (visits, activities, ordering, catalog actions):\n```cypher\nMATCH (s:SoA {name: $TRIAL})-[:HAS_INTERACTION]->(i:Interaction)\nOPTIONAL MATCH (i)-[p:PERFORMS]->(a:Activity)\nOPTIONAL MATCH (i)-[f:FOLLOWS]->(i2:Interaction)\nOPTIONAL MATCH (a)-[:REQUIRES_ACTIVITY]->(dep:Activity)\nOPTIONAL MATCH (a)-[:IMPLEMENTED_BY]->(spec:ActionSpec)\nRETURN s.name, i.id, i.name, i.phase, i.iteration,\n       collect(DISTINCT {activity: a.name, value: p.value}) as performs,\n       collect(DISTINCT {next: i2.id}) as follows,\n       collect(DISTINCT {dep: dep.name}) as deps,\n       collect(DISTINCT {action: spec.name}) as actions\n```\n\n**Call 2 — People and locations** (patient, clinicians, languages, cities, assignments):\n```cypher\nMATCH (h:Human)-[:hasRole]->(r)\nOPTIONAL MATCH (h)-[:speaks]->(l:Language)\nOPTIONAL MATCH (h)-[:lives]->(city:City)\nOPTIONAL MATCH (h)-[:assigned]->(c:Clinic)\nOPTIONAL MATCH (h)-[:hasQualification]->(q)\nRETURN h.name, collect(DISTINCT labels(r)) as roles,\n       collect(DISTINCT l.name) as languages,\n       collect(DISTINCT city.name) as cities,\n       collect(DISTINCT c.name) as clinics,\n       collect(DISTINCT labels(q)) as quals\n```\n\n**Call 3 — Clinics, rooms, equipment, trial approvals, constraints:**\n```cypher\nMATCH (c:Clinic)\nOPTIONAL MATCH (c)-[:isIn]->(cc:City)\nOPTIONAL MATCH (c)<-[:trialApproves]-(t:ClinicalTrial)\nOPTIONAL MATCH (c)-[:clinicHasRoom]->(rm:Room)\nOPTIONAL MATCH (rm)-[:roomHasExamBed]->(eb)\nOPTIONAL MATCH (rm)-[:roomHasBPMonitor]->(bp)\nOPTIONAL MATCH (rm)-[:roomHasVO2Equip]->(vo2)\nOPTIONAL MATCH (con:Constraint)-[:REQUIRES_EVIDENCE]->(ev)\nRETURN c.name, cc.name as city, collect(DISTINCT t.name) as trials,\n       collect(DISTINCT {room: rm.name, hasEB: eb IS NOT NULL, hasBP: bp IS NOT NULL, hasVO2: vo2 IS NOT NULL}) as rooms,\n       collect(DISTINCT {constraint: con.name, evidence: ev.name}) as constraints\n```\n\nDo NOT guess at facts before querying. Do NOT make additional queries beyond these 3.\n\n## Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n(Equipment)-[:imposesConstraint]->(Constraint {name,english,leanType})\n\n(ActionSpec {name,description})-[:REQUIRES {role: subject|operator|equipment|prerequisite}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n\n(SoA {name})-[:HAS_INTERACTION]->(Interaction {id,name,phase,iteration}), -[:HAS_ACTIVITY]->(Activity)\n(Interaction)-[:PERFORMS {value}]->(Activity), -[:FOLLOWS]->(Interaction)\n(Activity {name,displayName,category})-[:IMPLEMENTED_BY]->(ActionSpec), -[:REQUIRES_ACTIVITY]->(Activity)\n```\n\n## How to design a pipeline\n\n### 1. Understand the SoA\n\nThe SoA text describes the trial's visits, activities, ordering, and iteration patterns. It is generated by `SoA.toDesignerText` and looks like:\n\n```\n=== Schedule of Activities: OurTrial ===\n\nVISITS:\n  screening \"Screening Visit\" (screening, one-shot)\n    activities: consent [required], physicalExam [required], vitalSigns [required],\n               assessment [required], disqualify [conditional: if exclusion criteria met]\n\n  drugDose \"Drug Administration\" (treatment, bounded × 3, every 7d)\n    activities: drugAdmin [required], vitalSigns [required], aeCollection [required]\n\n  weeklyCheckup \"Weekly Checkup\" (followUp, unbounded until death, every 7d)\n    activities: vitalSigns [required], assessment [required],\n               aeCollection [required], survivalCheck [required]\n\nORDERING:\n  screening → drugDose → weeklyCheckup\n\nACTIVITY DEPENDENCIES:\n  physicalExam requires consent\n  drugAdmin requires consent\n  assessment requires physicalExam\n```\n\nKey iteration concepts:\n- **one-shot**: Visit happens exactly once (e.g., screening)\n- **bounded × N**: Visit repeats a fixed number of times — compiled with `boundedIterate`\n- **unbounded until X**: Visit repeats indefinitely until a termination condition — compiled with `unboundedStep`\n\n### 2. Resolve SoA activities to catalog actions\n\nSoA activities are abstract. Query `IMPLEMENTED_BY` to find the concrete catalog actions:\n```cypher\nMATCH (a:Activity)-[:IMPLEMENTED_BY]->(s:ActionSpec)\nWHERE a.name IN [\"consent\", \"physicalExam\", \"vitalSigns\", ...]\nRETURN a.name, collect(s.name) as actions\n```\n\n**Compound activities** decompose into multiple ActionSpecs:\n- `physicalExam` → `heartMeasurement`, `bpMeasurement`, `vo2Measurement`\n- `vitalSigns` → `heartMeasurement`, `bpMeasurement`\n\nNote these for the screening phase where individual steps matter. For iteration phases (drug, checkup), see the simplification rule in section 7.\n\n### 3. Query the KB for resources\n\nQuery for the specific patient, trial, clinics, rooms, equipment, and clinicians. Find a clinic in the patient's city that the trial approves, a room with the needed equipment, and a clinician who is assigned there, holds the required qualifications, and shares a language with the patient.\n\nUse concrete Lean type names in your plan — `Patient \"Jose\"`, `Clinician \"Allen\"`, `SharedLangEvidence \"Allen\" \"Jose\"`, NOT abstract labels like \"Role\".\n\n### 4. Build a scoped pipeline plan\n\nUse nesting to show scope structure:\n- **Trial scope**: The clinical trial provides the top-level context.\n- **Clinic scope**: An approved clinic provides the clinician and shared-language evidence.\n- **Room scope**: A room provides equipment and the clinician's equipment qualifications.\n- **Visit scopes** (drug and checkup only): Each visit scope carries the `callConfirmed` constraint.\n\n#### How `callConfirmed` works\n\n`callConfirmed` is a **scope constraint**, NOT an arrow step. It works exactly like `clinicInPatientCity` or `clinicianSpeaksPatient`: when a visit scope is entered, the constraint fires and demands evidence of type `CallConfirmed \"Jose\"`. This evidence is provided directly at scope construction time (a `def` value), not produced by any arrow inside the body.\n\n**DO NOT include `confirmationCall` as a step inside visit bodies.** The Prover provides `CallConfirmed` evidence when constructing the scope, just like it provides `ClinicCityEvidence` for the clinic scope.\n\n### 5. Handle branching (screening only)\n\nScreening visits may have conditional activities like `disqualify`. These produce branching in the compiled pipeline. The structure is:\n\n```\nbranch 1:\n  LEFT  → disqualify → NonQualifying     (consent refused — patient never consents)\n  RIGHT → consent → assessment →\n    branch 2:\n      LEFT  → disqualify → NonQualifying (post-assessment disqualification)\n      RIGHT → drop results → continue to drug + checkup phases\njoin (collapses the two NQ paths into one outcome)\n```\n\n**CRITICAL rules:**\n- The LEFT branch is always the failure path. It goes DIRECTLY to `disqualify` — do NOT put `consent` on the failure path.\n- Branching happens at room scope level, NOT inside a visit scope.\n- Only screening has branching. Drug and checkup phases have NO branching.\n\n### 6. Handle iteration patterns\n\nFor each visit type:\n- **one-shot (screening)**: Individual arrow steps (consent, assessment) with branching between them. This is the only phase where individual steps are spelled out.\n- **bounded × N**: Uses `boundedIterate`. Each iteration has a visit scope (callConfirmed) wrapping **one representative arrow** for the visit body. The body arrow lists relevant inputs and produces a decremented `BoundedObligation` counter.\n- **unbounded until X**: Uses `unboundedStep`. Each iteration has a visit scope (callConfirmed) wrapping **one representative arrow**. The body consumes `Obligation` and produces `Fulfilled`.\n\n#### Visit body simplification rule\n\nFor drug dose and checkup visits, represent the entire visit as **a single arrow** that names the primary action. Do NOT expand compound activities into individual steps inside iteration bodies. This is essential — the Prover has a limited token budget, and each additional arrow in an iteration body multiplies the code size by the number of iterations.\n\n- Drug dose body: ONE arrow `drugAdmin` (inputs: BoundedObligation, Patient, Clinician; produces: BoundedObligation(k-1))\n- Checkup body: ONE arrow `checkup` (inputs: Obligation, Patient, Clinician; produces: Fulfilled)\n\n#### `unboundedStep` is opaque\n\n`unboundedStep` handles exactly one thing: consume `Obligation`, produce `Fulfilled`. It does NOT have:\n- Internal branching or termination logic\n- Death detection or loop-back logic\n- Any structure beyond: enter scope → run body arrow → exit scope\n\nTermination is handled externally by the runtime. Do NOT add branching inside `unboundedStep`.\n\n## Output format\n\nProduce a structured pipeline description like this:\n\n```\nPatient: Jose\nTrial: OurTrial\n\nResources:\n  Clinic: ValClinic (in Valencia, approved by OurTrial)\n  Clinician: Allen (assigned to ValClinic, speaks Spanish, holds ExamBedQual + BPMonitorQual + VO2EquipmentQual)\n  Room: Room3 (has ExamBed, BPMonitor, VO2Equipment)\n\nscope trial (OurTrial):\n  scope clinic (ValClinic, clinician=Allen, shared language=Spanish):\n    obligations: ClinicCityEvidence \"ValClinic\" \"Jose\", assigned Allen ValClinic,\n                 trialApproves OurTrial ValClinic, SharedLangEvidence \"Allen\" \"Jose\"\n    scope room (Room3, equipment=[ExamBed, BPMonitor, VO2Equipment]):\n      obligations: holdsExamBedQual Allen, holdsBPMonitorQual Allen, holdsVO2EquipmentQual Allen\n\n      -- SCREENING (one-shot, branching at room level, NO visit scope)\n      branch (consent refusal):\n        left → disqualify: Patient \"Jose\" → NonQualifying \"Jose\"\n        right →\n          step consent: Patient \"Jose\", SharedLangEvidence \"Allen\" \"Jose\" → ConsentGiven \"Jose\"\n          step assessment: Patient \"Jose\", ConsentGiven \"Jose\" → AssessmentResult \"Jose\"\n          branch (post-assessment):\n            left → disqualify: Patient \"Jose\" → NonQualifying \"Jose\"\n            right → drop ConsentGiven, AssessmentResult → continue\n      join NQ paths\n\n      -- DRUG ADMINISTRATION (bounded × 3, boundedIterate)\n      boundedIterate \"drugDose\" × 3:\n        scope dose-visit (callConfirmed, evidence=CallConfirmed \"Jose\"):\n          arrow drugAdmin: BoundedObligation, Patient \"Jose\", Clinician \"Allen\"\n                         → BoundedObligation(k-1)\n\n      -- WEEKLY CHECKUP (unbounded, unboundedStep)\n      unboundedStep \"weeklyCheckup\":\n        scope checkup-visit (callConfirmed, evidence=CallConfirmed \"Jose\"):\n          arrow checkup: Obligation, Patient \"Jose\", Clinician \"Allen\"\n                       → Fulfilled\n```\n\n## Important\n\n- Do NOT invent actions or constraints — only use what the KB provides.\n- Use concrete Lean type names: `Patient \"Jose\"`, NOT \"Role\" or \"subject\".\n- `callConfirmed` is scope evidence, NOT an arrow step. Do NOT include `confirmationCall` as a step.\n- Screening is the ONLY phase with individual steps and branching.\n- Drug and checkup bodies are ONE arrow each. Do NOT expand compound activities in iteration bodies.\n- `unboundedStep` has NO internal branching or termination logic.\n- If no valid configuration exists, say so clearly and explain why.\n- If the Proof Agent pushes back with an error, revise your plan based on their feedback.\n",
          "maxIterations": 20
        }
      },
      "id": "designer-agent-1",
      "name": "Designer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1500,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "designer-llm",
      "name": "Designer LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "designer-read-cypher",
      "name": "designer_read_cypher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1540,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $input.first().json.output;\nconst originalPrompt = $('Prep Input').first().json.originalPrompt;\nreturn [{ json: { plan, originalPrompt } }];"
      },
      "id": "extract-plan-1",
      "name": "Extract Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.plan }}",
        "options": {
          "systemMessage": "# Proof Agent — System Prompt\n\nYou are a Lean 4 proof agent. You receive a pipeline plan from the Designer Agent and must construct a formally verified pipeline using the Arrow/SheetDiagram framework.\n\n## MANDATORY PROCEDURE — follow these steps IN ORDER\n\n**You MUST call all three tools before producing output. Your response will be REJECTED if it contains VERIFIED without tool call evidence.**\n\n1. **Call `read_domain_types`** — returns the Lean 4 source of all domain type files PLUS a complete reference implementation (Compile.lean). Read every `inductive` definition to find exact constructor names. Study Compile.lean to see how the framework is used end-to-end. **You cannot write correct code without this step.**\n2. **Call `read_cypher`** — query Neo4j for ALL relevant facts. Do NOT assume facts from the Designer's plan or the reference implementation. **Batch your queries** with OPTIONAL MATCH.\n3. **Write complete Lean 4 code** using ONLY types/constructors from step 1, populated with facts from step 2, following the framework patterns below.\n4. **Call `lean_command`** with the complete code. Your code is NOT verified until `lean_command` returns `ok: true` with no error-severity messages and empty `sorries`.\n5. **If errors**, fix and call `lean_command` again. Repeat until `ok: true`.\n\n**CRITICAL: The reference implementation in `read_domain_types` uses `open KB.Facts` and references pre-defined values. You CANNOT do this — you must define all entities and facts inline from your Neo4j query results. The reference shows the PATTERNS, not the exact code to copy.**\n\n## Your tools\n\n- **read_domain_types**: Returns Lean 4 source of domain type files + reference implementation. Call FIRST, takes no input.\n- **lean_command**: Type-check complete Lean 4 code (with imports). `ok: true` means success.\n- **read_cypher**: Execute a read-only Cypher query against Neo4j.\n\n## Neo4j Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n(ActionSpec {name,description})-[:REQUIRES {role}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n(Activity)-[:IMPLEMENTED_BY]->(ActionSpec)\n```\n\n**Cypher note:** Neo4j forbids nested `collect()`. Use intermediate `WITH` clauses to stage aggregations.\n\n---\n\n## Framework Reference\n\n### Import — use exactly ONE line\n\n```lean\nimport WorldModel.KB.Arrow\n```\n\nDo NOT use `open` statements. Do NOT open `KB.Facts` — define ALL entities and facts inline from Neo4j.\n\n### Naming — avoid collisions\n\nWrap ALL code in a `namespace`. Prefix all `abbrev`/`def` names consistently:\n\n```lean\nnamespace MyPipeline\n-- ... all definitions here ...\nend MyPipeline\n```\n\n### Defining entities and facts\n\nRead `read_domain_types` output carefully for exact constructor names. Most use `.mk`:\n\n```lean\ndef myH : Human \"Name\" := Human.mk \"Name\"\ndef my_speaks : speaks myH (Language.mk \"Lang\") := speaks.mk\ndef my_holds : holdsExamBedQual myH .mk := holdsExamBedQual.mk\n```\n\nEvidence structures use record syntax:\n```lean\ndef myLangEv : SharedLangEvidence \"Clinician\" \"Patient\" :=\n  { lang := \"Lang\", cSpeaks := ..., pSpeaks := ... }\ndef myCityEv : ClinicCityEvidence \"Clinic\" \"Patient\" :=\n  { city := \"City\", cIsIn := ..., pLives := ... }\n```\n\n### Contexts and scope state\n\n`Ctx` = `List Type`. `ScopeState` = `List ScopeItem`.\n\n`Tag` and `ConstraintId` values come from Scope.lean (returned by `read_domain_types`):\n- `.entry ⟨\"name\", .tag⟩` — resource entries\n- `.constraint .constraintId` — constraints that fire on scope entry\n\n### `Action.*` — typed action constructors (PREFERRED)\n\nEach enforces the correct input list at the type level — missing inputs = type error.\n\n**Measurements** (require equipment + qualification in scope):\n- `Action.heartMeasurement pn cn sat` — inputs: `[Patient pn, Clinician cn, ExamBed, holdsExamBedQual (Human.mk cn) .mk]` → `[HeartRate pn]`\n- `Action.bpMeasurement pn cn sat` — inputs: `[Patient pn, Clinician cn, BPMonitor, holdsBPMonitorQual (Human.mk cn) .mk]` → `[BloodPressure pn]`\n- `Action.vo2Measurement pn cn sat` — inputs: `[Patient pn, Clinician cn, VO2Equipment, holdsVO2EquipmentQual (Human.mk cn) .mk]` → `[VO2Max pn]`\n\n**Other actions:**\n- `Action.consent pn cn sat` — inputs: `[Patient pn, SharedLangEvidence cn pn]` → `[ConsentGiven pn]`\n- `Action.disqualify pn sat` — inputs: `[Patient pn]` → `[NonQualifying pn]`\n- `Action.confirmationCall pn sat` — inputs: `[Patient pn]` → `[CallConfirmed pn]`\n- `Action.products pn sat` — inputs: `[ConsentGiven pn, HeartRate pn, BloodPressure pn, VO2Max pn]` → `[ProductsOutput pn]`\n- `Action.assessment pn sat` — inputs: `[Patient pn, ProductsOutput pn]` → `[AssessmentResult pn]`\n- `Action.drugAdmin pn cn sat` — inputs: `[Patient pn, Clinician cn]` → `[AdminRecord pn]`\n- `Action.aeCollection pn cn sat` — inputs: `[Patient pn, Clinician cn]` → `[AEReport pn]`\n- `Action.survivalCheck pn cn sat` — inputs: `[Patient pn, Clinician cn]` → `[SurvivalStatus pn]`\n\nEach `sat` is `Satisfy (Tel.ofList inputs) Γ Γ`. Build with `.bind value (by elem_tac)` per input.\n\n### `mkArrow` — fallback for iteration bodies\n\n```lean\nmkArrow (name : String) (inputs produces : Ctx)\n    (satisfy : Satisfy (Tel.ofList inputs) Γ Γ) : Arrow Γ (Γ ++ produces)\n```\n\nUse `mkArrow` only when the arrow needs framework-level tokens (`BoundedObligation`, `Obligation`) that are not part of the action catalog. Iteration body arrows typically need these.\n\n- `consumes` is always `[]`\n- Output type is always `Γ ++ produces`\n- Use `(by elem_tac)` for ALL Elem proofs — never `.here`/`.there`\n- In the `Satisfy` proof, construct values of input types using constructors from `read_domain_types`\n\n### SheetDiagram constructors\n\n```\n.arrow a               — lift Arrow to SheetDiagram\n.pipe a rest            — sequential: arrow then diagram\n.seq d1 d2              — sequential: two single-outcome diagrams\n.drop split             — discard types via Split\n.branch split selL selR l r  — coproduct\n.join d                 — collapse duplicate outcomes\n.scope label items ext kept st_out obligations evidence body\n.halt a                 — terminal\n```\n\n### Branching pattern\n\n```lean\n-- Polymorphic failure selection — reuse at every branch point\ndef fullCtxSel {extra : Ctx} : Selection (fullCtx ++ extra) fullCtx :=\n  Selection.prefix fullCtx extra\n\n-- Each .branch needs:\n.branch (Split.idLeft currentCtx)     -- split decision\n  fullCtxSel                           -- failure: drop extras\n  (Selection.id currentCtx)            -- success: keep all\n  failureDiagram                       -- left path\n  successDiagram                       -- right path\n```\n\nAll failure branches must produce the same outcome for `.join` to unify.\n\n### Dropping accumulated types\n\n```lean\nSplit.append baseCtx extras |>.comm\n-- splits (baseCtx ++ extras) into (extras, baseCtx), then drop extras\n```\n\n### Reordering\n\n```lean\nArrow.swap (Γ₁ := left) (Γ₂ := right)\n-- [left ++ right] → [right ++ left]\n```\n\n### Scope nesting\n\n```lean\n.scope label newItems ext kept st_out obligations evidence body\n```\n\n- `obligations` must be an explicit `abbrev` — `newObligations` cannot reduce at type-checking time\n- `evidence`: `PUnit.unit` for empty, single value for one, tuple for multiple\n- Use `def` (not `axiom`) for evidence values\n- **Visit scopes**: `ext = []`, `kept = []` — only fire constraints\n\n### Iteration — ONE arrow per body (MANDATORY)\n\nEach iteration body is exactly **one `mkArrow` + drop + reorder**. Do NOT put multiple arrows per body. The Designer may describe activities conceptually — compile them to a single representative arrow.\n\n**Bounded** (`boundedIterate vid label mkBody n`): body takes `[BoundedObligation vid (k+1)] ++ Γ`, produces `[BoundedObligation vid k] ++ Γ`.\n\n**Unbounded** (`unboundedStep vid label body`): body takes `[Obligation vid] ++ Γ`, produces `[Fulfilled vid] ++ Γ`.\n\nBoth follow the same 3-step pattern inside the body:\n1. `mkArrow` — produce new obligation/fulfillment\n2. `.drop` — remove consumed old obligation (`.left (Split.idRight ...)`)\n3. `.arrow` — `Arrow.swap` to put new value at front\n\n---\n\n## Pushing back to the Designer\n\nIf the plan cannot be formalized, respond with `FAILED:` and a clear explanation.\n\n## Output — CRITICAL formatting\n\nThe VERY FIRST characters of your response must be `VERIFIED:` or `FAILED:`.\n\nOn success, include:\n1. **Summary** — one paragraph\n2. **Lean code** — complete code in a ```lean fenced block\n3. **Pipeline diagram** — from `#eval toString (Erased.erase ...)`\n4. **Mermaid flowchart** — in a ```mermaid fenced block\n",
          "maxIterations": 10
        }
      },
      "id": "prover-agent-1",
      "name": "Prover Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2100,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "id": "prover-llm",
      "name": "Prover LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        2000,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "name": "prover_lean_command",
        "description": "Run Lean 4 code and check it with the kernel. Send the COMPLETE Lean 4 source code including all import lines. Returns JSON with ok and result fields.",
        "language": "javaScript",
        "jsCode": "const http = require('http');\nconst body = JSON.stringify({cmd: query});\nconst result = await new Promise((resolve, reject) => {\n  const req = http.request('http://python-mcp:7010/lean/command', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) },\n    timeout: 300000\n  }, res => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => resolve(data));\n  });\n  req.on('error', e => resolve(JSON.stringify({ error: e.message })));\n  req.write(body);\n  req.end();\n});\nreturn result;"
      },
      "id": "prover-lean-cmd",
      "name": "prover_lean_command",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2140,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "prover-read-cypher",
      "name": "prover_read_cypher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2280,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "prover-get-schema",
      "name": "prover_get_schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2420,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst plan = $('Extract Plan').first().json.plan;\nconst originalPrompt = $('Extract Plan').first().json.originalPrompt;\n\nconst success = output.includes('VERIFIED:');\n\nreturn [{ json: { success, proverOutput: output, plan, originalPrompt } }];"
      },
      "id": "parse-result-1",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-success-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success-1",
      "name": "IF Prover Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2700,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.proverOutput;\n// Strip the VERIFIED: prefix\nconst content = output.replace(/^VERIFIED:\\s*/i, '');\nreturn [{ json: { output: content } }];"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { proverOutput, plan, originalPrompt } = $input.first().json;\n// Strip the FEEDBACK: prefix if present\nconst feedback = proverOutput.replace(/^FEEDBACK:\\s*/i, '');\nconst designerInput = `The user originally requested:\\n${originalPrompt}\\n\\nYou previously proposed this plan:\\n${plan}\\n\\nThe Proof Agent was unable to formalize it and gave this feedback:\\n${feedback}\\n\\nPlease revise your plan to address the feedback.`;\nreturn [{ json: { designerInput, originalPrompt } }];"
      },
      "id": "prep-feedback",
      "name": "Prep Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.designerInput }}",
        "options": {
          "systemMessage": "# Designer Agent — System Prompt\n\nYou are a clinical pipeline designer. You receive a Schedule of Activities (SoA) text and a user request, then produce a pipeline plan that a Proof Agent will formalize in Lean 4.\n\n## Your tools\n\n- **read_cypher**: Run read-only Cypher queries against the knowledge base.\n- **get_neo4j_schema**: Only call if the schema below has been compacted away from context.\n\n## CRITICAL — Query discipline (max 3 calls)\n\nYou have a strict rate limit. Use **at most 3 `read_cypher` calls total**. Combine everything into large batched queries using OPTIONAL MATCH. Do NOT send one query per fact — that will hit the rate limit and fail.\n\n**Call 1 — SoA structure** (visits, activities, ordering, catalog actions):\n```cypher\nMATCH (s:SoA {name: $TRIAL})-[:HAS_INTERACTION]->(i:Interaction)\nOPTIONAL MATCH (i)-[p:PERFORMS]->(a:Activity)\nOPTIONAL MATCH (i)-[f:FOLLOWS]->(i2:Interaction)\nOPTIONAL MATCH (a)-[:REQUIRES_ACTIVITY]->(dep:Activity)\nOPTIONAL MATCH (a)-[:IMPLEMENTED_BY]->(spec:ActionSpec)\nRETURN s.name, i.id, i.name, i.phase, i.iteration,\n       collect(DISTINCT {activity: a.name, value: p.value}) as performs,\n       collect(DISTINCT {next: i2.id}) as follows,\n       collect(DISTINCT {dep: dep.name}) as deps,\n       collect(DISTINCT {action: spec.name}) as actions\n```\n\n**Call 2 — People and locations** (patient, clinicians, languages, cities, assignments):\n```cypher\nMATCH (h:Human)-[:hasRole]->(r)\nOPTIONAL MATCH (h)-[:speaks]->(l:Language)\nOPTIONAL MATCH (h)-[:lives]->(city:City)\nOPTIONAL MATCH (h)-[:assigned]->(c:Clinic)\nOPTIONAL MATCH (h)-[:hasQualification]->(q)\nRETURN h.name, collect(DISTINCT labels(r)) as roles,\n       collect(DISTINCT l.name) as languages,\n       collect(DISTINCT city.name) as cities,\n       collect(DISTINCT c.name) as clinics,\n       collect(DISTINCT labels(q)) as quals\n```\n\n**Call 3 — Clinics, rooms, equipment, trial approvals, constraints:**\n```cypher\nMATCH (c:Clinic)\nOPTIONAL MATCH (c)-[:isIn]->(cc:City)\nOPTIONAL MATCH (c)<-[:trialApproves]-(t:ClinicalTrial)\nOPTIONAL MATCH (c)-[:clinicHasRoom]->(rm:Room)\nOPTIONAL MATCH (rm)-[:roomHasExamBed]->(eb)\nOPTIONAL MATCH (rm)-[:roomHasBPMonitor]->(bp)\nOPTIONAL MATCH (rm)-[:roomHasVO2Equip]->(vo2)\nOPTIONAL MATCH (con:Constraint)-[:REQUIRES_EVIDENCE]->(ev)\nRETURN c.name, cc.name as city, collect(DISTINCT t.name) as trials,\n       collect(DISTINCT {room: rm.name, hasEB: eb IS NOT NULL, hasBP: bp IS NOT NULL, hasVO2: vo2 IS NOT NULL}) as rooms,\n       collect(DISTINCT {constraint: con.name, evidence: ev.name}) as constraints\n```\n\nDo NOT guess at facts before querying. Do NOT make additional queries beyond these 3.\n\n## Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n(Equipment)-[:imposesConstraint]->(Constraint {name,english,leanType})\n\n(ActionSpec {name,description})-[:REQUIRES {role: subject|operator|equipment|prerequisite}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n\n(SoA {name})-[:HAS_INTERACTION]->(Interaction {id,name,phase,iteration}), -[:HAS_ACTIVITY]->(Activity)\n(Interaction)-[:PERFORMS {value}]->(Activity), -[:FOLLOWS]->(Interaction)\n(Activity {name,displayName,category})-[:IMPLEMENTED_BY]->(ActionSpec), -[:REQUIRES_ACTIVITY]->(Activity)\n```\n\n## How to design a pipeline\n\n### 1. Understand the SoA\n\nThe SoA text describes the trial's visits, activities, ordering, and iteration patterns. It is generated by `SoA.toDesignerText` and looks like:\n\n```\n=== Schedule of Activities: OurTrial ===\n\nVISITS:\n  screening \"Screening Visit\" (screening, one-shot)\n    activities: consent [required], physicalExam [required], vitalSigns [required],\n               assessment [required], disqualify [conditional: if exclusion criteria met]\n\n  drugDose \"Drug Administration\" (treatment, bounded × 3, every 7d)\n    activities: drugAdmin [required], vitalSigns [required], aeCollection [required]\n\n  weeklyCheckup \"Weekly Checkup\" (followUp, unbounded until death, every 7d)\n    activities: vitalSigns [required], assessment [required],\n               aeCollection [required], survivalCheck [required]\n\nORDERING:\n  screening → drugDose → weeklyCheckup\n\nACTIVITY DEPENDENCIES:\n  physicalExam requires consent\n  drugAdmin requires consent\n  assessment requires physicalExam\n```\n\nKey iteration concepts:\n- **one-shot**: Visit happens exactly once (e.g., screening)\n- **bounded × N**: Visit repeats a fixed number of times — compiled with `boundedIterate`\n- **unbounded until X**: Visit repeats indefinitely until a termination condition — compiled with `unboundedStep`\n\n### 2. Resolve SoA activities to catalog actions\n\nSoA activities are abstract. Query `IMPLEMENTED_BY` to find the concrete catalog actions:\n```cypher\nMATCH (a:Activity)-[:IMPLEMENTED_BY]->(s:ActionSpec)\nWHERE a.name IN [\"consent\", \"physicalExam\", \"vitalSigns\", ...]\nRETURN a.name, collect(s.name) as actions\n```\n\n**Compound activities** decompose into multiple ActionSpecs:\n- `physicalExam` → `heartMeasurement`, `bpMeasurement`, `vo2Measurement`\n- `vitalSigns` → `heartMeasurement`, `bpMeasurement`\n\nNote these for the screening phase where individual steps matter. For iteration phases (drug, checkup), see the simplification rule in section 7.\n\n### 3. Query the KB for resources\n\nQuery for the specific patient, trial, clinics, rooms, equipment, and clinicians. Find a clinic in the patient's city that the trial approves, a room with the needed equipment, and a clinician who is assigned there, holds the required qualifications, and shares a language with the patient.\n\nUse concrete Lean type names in your plan — `Patient \"Jose\"`, `Clinician \"Allen\"`, `SharedLangEvidence \"Allen\" \"Jose\"`, NOT abstract labels like \"Role\".\n\n### 4. Build a scoped pipeline plan\n\nUse nesting to show scope structure:\n- **Trial scope**: The clinical trial provides the top-level context.\n- **Clinic scope**: An approved clinic provides the clinician and shared-language evidence.\n- **Room scope**: A room provides equipment and the clinician's equipment qualifications.\n- **Visit scopes** (drug and checkup only): Each visit scope carries the `callConfirmed` constraint.\n\n#### How `callConfirmed` works\n\n`callConfirmed` is a **scope constraint**, NOT an arrow step. It works exactly like `clinicInPatientCity` or `clinicianSpeaksPatient`: when a visit scope is entered, the constraint fires and demands evidence of type `CallConfirmed \"Jose\"`. This evidence is provided directly at scope construction time (a `def` value), not produced by any arrow inside the body.\n\n**DO NOT include `confirmationCall` as a step inside visit bodies.** The Prover provides `CallConfirmed` evidence when constructing the scope, just like it provides `ClinicCityEvidence` for the clinic scope.\n\n### 5. Handle branching (screening only)\n\nScreening visits may have conditional activities like `disqualify`. These produce branching in the compiled pipeline. The structure is:\n\n```\nbranch 1:\n  LEFT  → disqualify → NonQualifying     (consent refused — patient never consents)\n  RIGHT → consent → assessment →\n    branch 2:\n      LEFT  → disqualify → NonQualifying (post-assessment disqualification)\n      RIGHT → drop results → continue to drug + checkup phases\njoin (collapses the two NQ paths into one outcome)\n```\n\n**CRITICAL rules:**\n- The LEFT branch is always the failure path. It goes DIRECTLY to `disqualify` — do NOT put `consent` on the failure path.\n- Branching happens at room scope level, NOT inside a visit scope.\n- Only screening has branching. Drug and checkup phases have NO branching.\n\n### 6. Handle iteration patterns\n\nFor each visit type:\n- **one-shot (screening)**: Individual arrow steps (consent, assessment) with branching between them. This is the only phase where individual steps are spelled out.\n- **bounded × N**: Uses `boundedIterate`. Each iteration has a visit scope (callConfirmed) wrapping **one representative arrow** for the visit body. The body arrow lists relevant inputs and produces a decremented `BoundedObligation` counter.\n- **unbounded until X**: Uses `unboundedStep`. Each iteration has a visit scope (callConfirmed) wrapping **one representative arrow**. The body consumes `Obligation` and produces `Fulfilled`.\n\n#### Visit body simplification rule\n\nFor drug dose and checkup visits, represent the entire visit as **a single arrow** that names the primary action. Do NOT expand compound activities into individual steps inside iteration bodies. This is essential — the Prover has a limited token budget, and each additional arrow in an iteration body multiplies the code size by the number of iterations.\n\n- Drug dose body: ONE arrow `drugAdmin` (inputs: BoundedObligation, Patient, Clinician; produces: BoundedObligation(k-1))\n- Checkup body: ONE arrow `checkup` (inputs: Obligation, Patient, Clinician; produces: Fulfilled)\n\n#### `unboundedStep` is opaque\n\n`unboundedStep` handles exactly one thing: consume `Obligation`, produce `Fulfilled`. It does NOT have:\n- Internal branching or termination logic\n- Death detection or loop-back logic\n- Any structure beyond: enter scope → run body arrow → exit scope\n\nTermination is handled externally by the runtime. Do NOT add branching inside `unboundedStep`.\n\n## Output format\n\nProduce a structured pipeline description like this:\n\n```\nPatient: Jose\nTrial: OurTrial\n\nResources:\n  Clinic: ValClinic (in Valencia, approved by OurTrial)\n  Clinician: Allen (assigned to ValClinic, speaks Spanish, holds ExamBedQual + BPMonitorQual + VO2EquipmentQual)\n  Room: Room3 (has ExamBed, BPMonitor, VO2Equipment)\n\nscope trial (OurTrial):\n  scope clinic (ValClinic, clinician=Allen, shared language=Spanish):\n    obligations: ClinicCityEvidence \"ValClinic\" \"Jose\", assigned Allen ValClinic,\n                 trialApproves OurTrial ValClinic, SharedLangEvidence \"Allen\" \"Jose\"\n    scope room (Room3, equipment=[ExamBed, BPMonitor, VO2Equipment]):\n      obligations: holdsExamBedQual Allen, holdsBPMonitorQual Allen, holdsVO2EquipmentQual Allen\n\n      -- SCREENING (one-shot, branching at room level, NO visit scope)\n      branch (consent refusal):\n        left → disqualify: Patient \"Jose\" → NonQualifying \"Jose\"\n        right →\n          step consent: Patient \"Jose\", SharedLangEvidence \"Allen\" \"Jose\" → ConsentGiven \"Jose\"\n          step assessment: Patient \"Jose\", ConsentGiven \"Jose\" → AssessmentResult \"Jose\"\n          branch (post-assessment):\n            left → disqualify: Patient \"Jose\" → NonQualifying \"Jose\"\n            right → drop ConsentGiven, AssessmentResult → continue\n      join NQ paths\n\n      -- DRUG ADMINISTRATION (bounded × 3, boundedIterate)\n      boundedIterate \"drugDose\" × 3:\n        scope dose-visit (callConfirmed, evidence=CallConfirmed \"Jose\"):\n          arrow drugAdmin: BoundedObligation, Patient \"Jose\", Clinician \"Allen\"\n                         → BoundedObligation(k-1)\n\n      -- WEEKLY CHECKUP (unbounded, unboundedStep)\n      unboundedStep \"weeklyCheckup\":\n        scope checkup-visit (callConfirmed, evidence=CallConfirmed \"Jose\"):\n          arrow checkup: Obligation, Patient \"Jose\", Clinician \"Allen\"\n                       → Fulfilled\n```\n\n## Important\n\n- Do NOT invent actions or constraints — only use what the KB provides.\n- Use concrete Lean type names: `Patient \"Jose\"`, NOT \"Role\" or \"subject\".\n- `callConfirmed` is scope evidence, NOT an arrow step. Do NOT include `confirmationCall` as a step.\n- Screening is the ONLY phase with individual steps and branching.\n- Drug and checkup bodies are ONE arrow each. Do NOT expand compound activities in iteration bodies.\n- `unboundedStep` has NO internal branching or termination logic.\n- If no valid configuration exists, say so clearly and explain why.\n- If the Proof Agent pushes back with an error, revise your plan based on their feedback.\n",
          "maxIterations": 20
        }
      },
      "id": "designer-agent-2",
      "name": "Designer Agent 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3300,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "designer-llm-2",
      "name": "Designer LLM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        3200,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "designer-read-cypher-2",
      "name": "designer_read_cypher_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3340,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $input.first().json.output;\nconst originalPrompt = $('Prep Feedback').first().json.originalPrompt;\nreturn [{ json: { plan, originalPrompt } }];"
      },
      "id": "extract-plan-2",
      "name": "Extract Plan 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.plan }}",
        "options": {
          "systemMessage": "# Proof Agent — System Prompt\n\nYou are a Lean 4 proof agent. You receive a pipeline plan from the Designer Agent and must construct a formally verified pipeline using the Arrow/SheetDiagram framework.\n\n## MANDATORY PROCEDURE — follow these steps IN ORDER\n\n**You MUST call all three tools before producing output. Your response will be REJECTED if it contains VERIFIED without tool call evidence.**\n\n1. **Call `read_domain_types`** — returns the Lean 4 source of all domain type files PLUS a complete reference implementation (Compile.lean). Read every `inductive` definition to find exact constructor names. Study Compile.lean to see how the framework is used end-to-end. **You cannot write correct code without this step.**\n2. **Call `read_cypher`** — query Neo4j for ALL relevant facts. Do NOT assume facts from the Designer's plan or the reference implementation. **Batch your queries** with OPTIONAL MATCH.\n3. **Write complete Lean 4 code** using ONLY types/constructors from step 1, populated with facts from step 2, following the framework patterns below.\n4. **Call `lean_command`** with the complete code. Your code is NOT verified until `lean_command` returns `ok: true` with no error-severity messages and empty `sorries`.\n5. **If errors**, fix and call `lean_command` again. Repeat until `ok: true`.\n\n**CRITICAL: The reference implementation in `read_domain_types` uses `open KB.Facts` and references pre-defined values. You CANNOT do this — you must define all entities and facts inline from your Neo4j query results. The reference shows the PATTERNS, not the exact code to copy.**\n\n## Your tools\n\n- **read_domain_types**: Returns Lean 4 source of domain type files + reference implementation. Call FIRST, takes no input.\n- **lean_command**: Type-check complete Lean 4 code (with imports). `ok: true` means success.\n- **read_cypher**: Execute a read-only Cypher query against Neo4j.\n\n## Neo4j Schema\n\n```\n(Human {name})-[:hasRole]->(Role), -[:speaks]->(Language {name}), -[:lives]->(City {name}), -[:assigned]->(Clinic {name}), -[:hasQualification]->(ExamBedQual|BPMonitorQual|VO2EquipmentQual)\n(Clinic)-[:isIn]->(City), -[:clinicHasRoom]->(Room {name})\n(Room)-[:roomHasExamBed]->(ExamBed), -[:roomHasBPMonitor]->(BPMonitor), -[:roomHasVO2Equip]->(VO2Equipment)\n(ClinicalTrial {name})-[:trialApproves]->(Clinic)\n(ActionSpec {name,description})-[:REQUIRES {role}]->(*), -[:PRODUCES]->(*)\n(Constraint)-[:REQUIRES_EVIDENCE]->(OutputType)\n(Activity)-[:IMPLEMENTED_BY]->(ActionSpec)\n```\n\n**Cypher note:** Neo4j forbids nested `collect()`. Use intermediate `WITH` clauses to stage aggregations.\n\n---\n\n## Framework Reference\n\n### Import — use exactly ONE line\n\n```lean\nimport WorldModel.KB.Arrow\n```\n\nDo NOT use `open` statements. Do NOT open `KB.Facts` — define ALL entities and facts inline from Neo4j.\n\n### Naming — avoid collisions\n\nWrap ALL code in a `namespace`. Prefix all `abbrev`/`def` names consistently:\n\n```lean\nnamespace MyPipeline\n-- ... all definitions here ...\nend MyPipeline\n```\n\n### Defining entities and facts\n\nRead `read_domain_types` output carefully for exact constructor names. Most use `.mk`:\n\n```lean\ndef myH : Human \"Name\" := Human.mk \"Name\"\ndef my_speaks : speaks myH (Language.mk \"Lang\") := speaks.mk\ndef my_holds : holdsExamBedQual myH .mk := holdsExamBedQual.mk\n```\n\nEvidence structures use record syntax:\n```lean\ndef myLangEv : SharedLangEvidence \"Clinician\" \"Patient\" :=\n  { lang := \"Lang\", cSpeaks := ..., pSpeaks := ... }\ndef myCityEv : ClinicCityEvidence \"Clinic\" \"Patient\" :=\n  { city := \"City\", cIsIn := ..., pLives := ... }\n```\n\n### Contexts and scope state\n\n`Ctx` = `List Type`. `ScopeState` = `List ScopeItem`.\n\n`Tag` and `ConstraintId` values come from Scope.lean (returned by `read_domain_types`):\n- `.entry ⟨\"name\", .tag⟩` — resource entries\n- `.constraint .constraintId` — constraints that fire on scope entry\n\n### `Action.*` — typed action constructors (PREFERRED)\n\nEach enforces the correct input list at the type level — missing inputs = type error.\n\n**Measurements** (require equipment + qualification in scope):\n- `Action.heartMeasurement pn cn sat` — inputs: `[Patient pn, Clinician cn, ExamBed, holdsExamBedQual (Human.mk cn) .mk]` → `[HeartRate pn]`\n- `Action.bpMeasurement pn cn sat` — inputs: `[Patient pn, Clinician cn, BPMonitor, holdsBPMonitorQual (Human.mk cn) .mk]` → `[BloodPressure pn]`\n- `Action.vo2Measurement pn cn sat` — inputs: `[Patient pn, Clinician cn, VO2Equipment, holdsVO2EquipmentQual (Human.mk cn) .mk]` → `[VO2Max pn]`\n\n**Other actions:**\n- `Action.consent pn cn sat` — inputs: `[Patient pn, SharedLangEvidence cn pn]` → `[ConsentGiven pn]`\n- `Action.disqualify pn sat` — inputs: `[Patient pn]` → `[NonQualifying pn]`\n- `Action.confirmationCall pn sat` — inputs: `[Patient pn]` → `[CallConfirmed pn]`\n- `Action.products pn sat` — inputs: `[ConsentGiven pn, HeartRate pn, BloodPressure pn, VO2Max pn]` → `[ProductsOutput pn]`\n- `Action.assessment pn sat` — inputs: `[Patient pn, ProductsOutput pn]` → `[AssessmentResult pn]`\n- `Action.drugAdmin pn cn sat` — inputs: `[Patient pn, Clinician cn]` → `[AdminRecord pn]`\n- `Action.aeCollection pn cn sat` — inputs: `[Patient pn, Clinician cn]` → `[AEReport pn]`\n- `Action.survivalCheck pn cn sat` — inputs: `[Patient pn, Clinician cn]` → `[SurvivalStatus pn]`\n\nEach `sat` is `Satisfy (Tel.ofList inputs) Γ Γ`. Build with `.bind value (by elem_tac)` per input.\n\n### `mkArrow` — fallback for iteration bodies\n\n```lean\nmkArrow (name : String) (inputs produces : Ctx)\n    (satisfy : Satisfy (Tel.ofList inputs) Γ Γ) : Arrow Γ (Γ ++ produces)\n```\n\nUse `mkArrow` only when the arrow needs framework-level tokens (`BoundedObligation`, `Obligation`) that are not part of the action catalog. Iteration body arrows typically need these.\n\n- `consumes` is always `[]`\n- Output type is always `Γ ++ produces`\n- Use `(by elem_tac)` for ALL Elem proofs — never `.here`/`.there`\n- In the `Satisfy` proof, construct values of input types using constructors from `read_domain_types`\n\n### SheetDiagram constructors\n\n```\n.arrow a               — lift Arrow to SheetDiagram\n.pipe a rest            — sequential: arrow then diagram\n.seq d1 d2              — sequential: two single-outcome diagrams\n.drop split             — discard types via Split\n.branch split selL selR l r  — coproduct\n.join d                 — collapse duplicate outcomes\n.scope label items ext kept st_out obligations evidence body\n.halt a                 — terminal\n```\n\n### Branching pattern\n\n```lean\n-- Polymorphic failure selection — reuse at every branch point\ndef fullCtxSel {extra : Ctx} : Selection (fullCtx ++ extra) fullCtx :=\n  Selection.prefix fullCtx extra\n\n-- Each .branch needs:\n.branch (Split.idLeft currentCtx)     -- split decision\n  fullCtxSel                           -- failure: drop extras\n  (Selection.id currentCtx)            -- success: keep all\n  failureDiagram                       -- left path\n  successDiagram                       -- right path\n```\n\nAll failure branches must produce the same outcome for `.join` to unify.\n\n### Dropping accumulated types\n\n```lean\nSplit.append baseCtx extras |>.comm\n-- splits (baseCtx ++ extras) into (extras, baseCtx), then drop extras\n```\n\n### Reordering\n\n```lean\nArrow.swap (Γ₁ := left) (Γ₂ := right)\n-- [left ++ right] → [right ++ left]\n```\n\n### Scope nesting\n\n```lean\n.scope label newItems ext kept st_out obligations evidence body\n```\n\n- `obligations` must be an explicit `abbrev` — `newObligations` cannot reduce at type-checking time\n- `evidence`: `PUnit.unit` for empty, single value for one, tuple for multiple\n- Use `def` (not `axiom`) for evidence values\n- **Visit scopes**: `ext = []`, `kept = []` — only fire constraints\n\n### Iteration — ONE arrow per body (MANDATORY)\n\nEach iteration body is exactly **one `mkArrow` + drop + reorder**. Do NOT put multiple arrows per body. The Designer may describe activities conceptually — compile them to a single representative arrow.\n\n**Bounded** (`boundedIterate vid label mkBody n`): body takes `[BoundedObligation vid (k+1)] ++ Γ`, produces `[BoundedObligation vid k] ++ Γ`.\n\n**Unbounded** (`unboundedStep vid label body`): body takes `[Obligation vid] ++ Γ`, produces `[Fulfilled vid] ++ Γ`.\n\nBoth follow the same 3-step pattern inside the body:\n1. `mkArrow` — produce new obligation/fulfillment\n2. `.drop` — remove consumed old obligation (`.left (Split.idRight ...)`)\n3. `.arrow` — `Arrow.swap` to put new value at front\n\n---\n\n## Pushing back to the Designer\n\nIf the plan cannot be formalized, respond with `FAILED:` and a clear explanation.\n\n## Output — CRITICAL formatting\n\nThe VERY FIRST characters of your response must be `VERIFIED:` or `FAILED:`.\n\nOn success, include:\n1. **Summary** — one paragraph\n2. **Lean code** — complete code in a ```lean fenced block\n3. **Pipeline diagram** — from `#eval toString (Erased.erase ...)`\n4. **Mermaid flowchart** — in a ```mermaid fenced block\n",
          "maxIterations": 10
        }
      },
      "id": "prover-agent-2",
      "name": "Prover Agent 2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3900,
        -100
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "id": "prover-llm-2",
      "name": "Prover LLM 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        3800,
        100
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "name": "prover_lean_command_2",
        "description": "Run Lean 4 code and check it with the kernel. Send the COMPLETE Lean 4 source code including all import lines. Returns JSON with ok and result fields.",
        "language": "javaScript",
        "jsCode": "const http = require('http');\nconst body = JSON.stringify({cmd: query});\nconst result = await new Promise((resolve, reject) => {\n  const req = http.request('http://python-mcp:7010/lean/command', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) },\n    timeout: 300000\n  }, res => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => resolve(data));\n  });\n  req.on('error', e => resolve(JSON.stringify({ error: e.message })));\n  req.write(body);\n  req.end();\n});\nreturn result;"
      },
      "id": "prover-lean-cmd-2",
      "name": "prover_lean_command_2",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3940,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "prover-read-cypher-2",
      "name": "prover_read_cypher_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4080,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "prover-get-schema-2",
      "name": "prover_get_schema_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4220,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst success = output.includes('VERIFIED:');\nreturn [{ json: { success, proverOutput: output } }];"
      },
      "id": "parse-result-2",
      "name": "Parse Result 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-success-2",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success-2",
      "name": "IF Prover 2 Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4500,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.proverOutput;\nconst content = output.replace(/^VERIFIED:\\s*/i, '');\nreturn [{ json: { output: content } }];"
      },
      "id": "format-output-2",
      "name": "Format Output 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.proverOutput;\nconst feedback = output.replace(/^FEEDBACK:\\s*/i, '');\nreturn [{ json: { output: 'Pipeline construction failed after 2 attempts. Last feedback:\\n\\n' + feedback } }];"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        -100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a database query agent with access to a Neo4j graph database containing clinical trial data. Use get_neo4j_schema to inspect the database structure before querying, then use read_cypher to answer the user's question. Be concise and informative.",
          "maxIterations": 10
        }
      },
      "id": "query-agent",
      "name": "Query Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 1024
        }
      },
      "id": "query-llm",
      "name": "Query LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1100,
        500
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a58asT6g6X06bWnB",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Execute a read-only Cypher query against Neo4j. Use single quotes for string literals.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/read",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{query}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Cypher read query",
              "type": "string"
            }
          ]
        }
      },
      "id": "query-read-cypher",
      "name": "query_read_cypher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "designer-get-schema",
      "name": "designer_get_schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1680,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "designer-get-schema-2",
      "name": "designer_get_schema_2",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3480,
        100
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the schema of the Neo4j database including node labels, relationship types, and property keys.",
        "method": "POST",
        "url": "http://python-mcp:7010/neo4j/schema",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "id": "query-get-schema",
      "name": "query_get_schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst output = $input.first().json.output;\nconst outDir = '/home/node/out';\n\n// Generate timestamped filename\nconst now = new Date();\nconst ts = now.toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst filename = `pipeline-${ts}.md`;\nconst filepath = path.join(outDir, filename);\n\nfs.writeFileSync(filepath, output, 'utf8');\n\nreturn [{ json: { output, savedTo: filename } }];"
      },
      "id": "6af76343-6ea6-4f84-8875-1e7102367dd8",
      "name": "Save Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        -300
      ]
    },
    {
      "parameters": {
        "name": "read_domain_types",
        "description": "Read the Lean 4 source files that define ALL valid types, constructors, scope tags, and constraint identifiers. Call this BEFORE writing any Lean code to discover the exact names available. Takes no input.",
        "language": "javaScript",
        "jsCode": "const http = require('http');\nconst result = await new Promise((resolve, reject) => {\n  const req = http.request('http://python-mcp:7010/lean/domain-types', {\n    method: 'GET',\n    timeout: 30000\n  }, res => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => resolve(data));\n  });\n  req.on('error', e => resolve(JSON.stringify({ error: e.message })));\n  req.end();\n});\nreturn result;"
      },
      "id": "prover-domain-types",
      "name": "prover_read_domain_types",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2560,
        100
      ]
    },
    {
      "parameters": {
        "name": "read_domain_types",
        "description": "Read the Lean 4 source files that define ALL valid types, constructors, scope tags, and constraint identifiers. Call this BEFORE writing any Lean code to discover the exact names available. Takes no input.",
        "language": "javaScript",
        "jsCode": "const http = require('http');\nconst result = await new Promise((resolve, reject) => {\n  const req = http.request('http://python-mcp:7010/lean/domain-types', {\n    method: 'GET',\n    timeout: 30000\n  }, res => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => resolve(data));\n  });\n  req.on('error', e => resolve(JSON.stringify({ error: e.message })));\n  req.end();\n});\nreturn result;"
      },
      "id": "prover-domain-types-2",
      "name": "prover_read_domain_types_2",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        4360,
        100
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Neo4j MCP Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j MCP Init": {
      "main": [
        [
          {
            "node": "Delete All Nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete All Nodes": {
      "main": [
        [
          {
            "node": "Seed DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed DB": {
      "main": [
        [
          {
            "node": "Warm Up Lean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Agent": {
      "main": [
        [
          {
            "node": "Parse Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Route": {
      "main": [
        [
          {
            "node": "IF Is Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Pipeline": {
      "main": [
        [
          {
            "node": "Prep Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Input": {
      "main": [
        [
          {
            "node": "Designer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Designer Agent": {
      "main": [
        [
          {
            "node": "Extract Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plan": {
      "main": [
        [
          {
            "node": "Prover Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prover Agent": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "IF Prover Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Prover Success": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Feedback": {
      "main": [
        [
          {
            "node": "Designer Agent 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Designer Agent 2": {
      "main": [
        [
          {
            "node": "Extract Plan 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plan 2": {
      "main": [
        [
          {
            "node": "Prover Agent 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prover Agent 2": {
      "main": [
        [
          {
            "node": "Parse Result 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result 2": {
      "main": [
        [
          {
            "node": "IF Prover 2 Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Prover 2 Success": {
      "main": [
        [
          {
            "node": "Format Output 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Designer LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Designer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "designer_read_cypher": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prover LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prover_lean_command": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_read_cypher": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_get_schema": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Designer LLM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Designer Agent 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "designer_read_cypher_2": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prover LLM 2": {
      "ai_languageModel": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prover_lean_command_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_read_cypher_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_get_schema_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Query Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "query_read_cypher": {
      "ai_tool": [
        [
          {
            "node": "Query Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "designer_get_schema": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "designer_get_schema_2": {
      "ai_tool": [
        [
          {
            "node": "Designer Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "query_get_schema": {
      "ai_tool": [
        [
          {
            "node": "Query Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output 2": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prover_read_domain_types": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prover_read_domain_types_2": {
      "ai_tool": [
        [
          {
            "node": "Prover Agent 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "active": false
}
